{"openapi":"3.0.1","info":{"title":"Charge Assist","description":"ChargeAssist Management Api. All endpoints require a Authorization header.","version":"v1.1"},"servers":[{"url":"https://api-a.greenflux.app"}],"paths":{"/account/mapuseranddrivers":{"post":{"tags":["Account"],"summary":"maps user drivers","requestBody":{"description":"expects AdId, Domain and list of DriverIds","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapUserAndDriversRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfo"}}}}}}},"/token/{appToken}":{"put":{"tags":["AppToken"],"summary":"Register an appToken","description":"Create and register this app token to the backend.\r\nThe appToken identifies a unique User or Driver. Other objects such as Payments, Favorites and Sessions will be linked to this appToken.\r\nIt can be linked to a unique identifier for Charge Assist User, a Driver ID in the GreenFlux CRM system or a SSO solution provided by the eMSP / app integration.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenModelListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/token":{"put":{"tags":["AppToken"],"summary":"Register appToken with driverId","description":"Create and register this app token to the backend.\r\nThe appToken identifies a unique User or Driver. Other objects such as Payments, Favorites and Sessions will be linked to this appToken.\r\nIt can be linked to a unique identifier for Charge Assist User, a Driver ID in the GreenFlux CRM system or a SSO solution provided by the eMSP / app integration.","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUpdateAppTokenWithDriverRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenModelListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/token/{appToken}/sessions":{"get":{"tags":["AppToken"],"summary":"Fetch sessions related to appToken","parameters":[{"name":"appToken","in":"path","description":"The app token to validate","required":true,"schema":{"type":"string"}},{"name":"filter.paymentMethodIds","in":"query","description":"Filter by payment method of the charge session.","schema":{"type":"string"}},{"name":"filter.dateTimeFrom","in":"query","description":"Filter by start date time of the charge session. Default to the first of current month if not present.","schema":{"type":"string","format":"date-time"}},{"name":"filter.dateTimeTo","in":"query","description":"Filter by start date time of the charge session. Default to the current date time if not present.","schema":{"type":"string","format":"date-time"}},{"name":"filter.chargeSessionId","in":"query","description":"Filter by id of the charge session.","schema":{"type":"string"}},{"name":"filter.ocpiSessionId","in":"query","description":"Filter by ocpiSessionId of the charge session.","schema":{"type":"string"}},{"name":"filter.paymentMethodType","in":"query","description":"Filter by payment method type of the charge session.","schema":{"enum":["CHARGE_CARD","OTHER"],"type":"string"}},{"name":"filter.sessionStatus","in":"query","schema":{"type":"array","items":{"enum":["REQUESTED","REJECTED","STARTING","CHARGING","STOPPING","COMPLETED","CDR_AVAILABLE","PARKING","TIMEOUT","CANCELLED","ERROR"],"type":"string"}}},{"name":"sortDesc","in":"query","description":"","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionHistoryModelListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"If the token has not been registered OR has not been provisioned.","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/v2.1/token/{appToken}/sessions":{"get":{"tags":["AppTokenV2"],"summary":"Fetch sessions related to appToken","parameters":[{"name":"appToken","in":"path","description":"The app token to validate","required":true,"schema":{"type":"string"}},{"name":"filter.paymentMethodIds","in":"query","description":"Filter by payment method of the charge session.","schema":{"type":"string"}},{"name":"filter.dateTimeFrom","in":"query","description":"Filter by start date time of the charge session. Default to the first of current month if not present.","schema":{"type":"string","format":"date-time"}},{"name":"filter.dateTimeTo","in":"query","description":"Filter by start date time of the charge session. Default to the current date time if not present.","schema":{"type":"string","format":"date-time"}},{"name":"filter.chargeSessionId","in":"query","description":"Filter by id of the charge session.","schema":{"type":"string"}},{"name":"filter.ocpiSessionId","in":"query","description":"Filter by ocpiSessionId of the charge session.","schema":{"type":"string"}},{"name":"filter.paymentMethodType","in":"query","description":"Filter by payment method type of the charge session.","schema":{"enum":["CHARGE_CARD","OTHER"],"type":"string"}},{"name":"filter.sessionStatus","in":"query","schema":{"type":"array","items":{"enum":["REQUESTED","REJECTED","STARTING","CHARGING","STOPPING","COMPLETED","CDR_AVAILABLE","PARKING","TIMEOUT","CANCELLED","ERROR"],"type":"string"}}},{"name":"continuationToken","in":"header","description":"","schema":{"type":"string"}},{"name":"sortDesc","in":"query","description":"","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionHistoryV2ModelListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"If the token has not been registered OR has not been provisioned.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/v2.1/token/{appToken}":{"get":{"tags":["AppTokenV2"],"parameters":[{"name":"appToken","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/v2.1/token":{"post":{"tags":["AppTokenV2"],"summary":"Create and register an appToken","description":"Register an appToken as a payment token and also register it in GSOP to allow charge sessions to be started and stopped with this token.","operationId":"AppTokenV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAppTokenRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/favorites/{appToken}/locations":{"get":{"tags":["Favorites"],"summary":"Favorites","description":"Get all favorite locations.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"userLatitude","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"","schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationSummaryGeoListResponse"}}}}}}},"/favorites/{appToken}/location/{id}":{"post":{"tags":["Favorites"],"summary":"Mark a location as a favorite","parameters":[{"name":"appToken","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Optional, additional parameters for favorite location","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavoriteRequest"}}}},"responses":{"204":{"description":"No Content","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/IActionResult"}},"application/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Favorites"],"summary":"Favorite","description":"Unmark a location as favorite.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"location id","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/v2.1/favorites/{appToken}/locations":{"get":{"tags":["FavoritesV2"],"summary":"Favorites v2","description":"Get all favorite locations.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"filter.evseUid","in":"query","description":"evse uid","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"","schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationSummaryGeoListResponse"}}}}}}},"/v2.1/favorites/{appToken}/location/{id}":{"post":{"tags":["FavoritesV2"],"summary":"Mark a location as a favorite","parameters":[{"name":"appToken","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Optional, additional parameters for favorite location","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavoriteRequest"}}}},"responses":{"204":{"description":"No Content","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/IActionResult"}},"application/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["FavoritesV2"],"summary":"Favorite v2","description":"Unmark a location as favorite.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"location id","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/locationrating":{"post":{"tags":["LocationRating"],"summary":"Provide rating for a location","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationRatingV2Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationRatingV2Model"}}}}}}},"/locationrating/ratingoptions":{"get":{"tags":["LocationRating"],"summary":"Get rating options for location","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LocationRatingOptionV2Model"}}}}}}}},"/locations/search":{"get":{"tags":["Locations"],"summary":"Locations Search","description":"Search for locations by name, city or address.","parameters":[{"name":"q","in":"query","description":"Search query","required":true,"schema":{"type":"string"}},{"name":"filter.evseUid","in":"query","description":"evse uid","schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"Optional, the latitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":25}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}},{"name":"paymentMethodId","in":"query","description":"Optional, id of payment method","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationSummaryGeoListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/locations/nearby":{"get":{"tags":["Locations"],"summary":"Locations Nearby","description":"Get list of locations nearest to the given coordinates.\r\nLook up distance: 50 km.\r\nmaximum results: 25.\r\nlocations are ordered by nearest distance.\r\nlocations which can start sessions will have higher priority.","parameters":[{"name":"latitude","in":"query","description":"the latitude of the user to bias search results towards the users' current location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"paymentMethodId","in":"query","description":"Optional, id of payment method. Used to check whether the location accepts this payment method.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationSummaryGeoListResponse"}}}}}}},"/locations/boundingbox":{"get":{"tags":["Locations"],"summary":"Locations BoundingBox","description":"Get list of locations inside the given bounding box.\r\nmaximum results: 50\r\nlocations which can start sessions will have higher priority.","parameters":[{"name":"bottomLeftLat","in":"query","description":"","required":true,"schema":{"type":"number","format":"double"}},{"name":"bottomLeftLng","in":"query","description":"","required":true,"schema":{"type":"number","format":"double"}},{"name":"topRightLat","in":"query","description":"","required":true,"schema":{"type":"number","format":"double"}},{"name":"topRightLng","in":"query","description":"","required":true,"schema":{"type":"number","format":"double"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"Optional, the latitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":50}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}},{"name":"paymentMethodId","in":"query","description":"Optional, id of payment method","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationSummaryGeoListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/locations/boundingbox-minimal":{"get":{"tags":["Locations"],"summary":"Locations BoundingBox Minimal","description":"Get list of locations with minimal data inside the given bounding box.\r\nLocations which can start sessions will have higher priority.","parameters":[{"name":"bottomLeftLat","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"bottomLeftLng","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"topRightLat","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"topRightLng","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"Optional, the latitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":50}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationMinModelGeoListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/locations/boundingbox-tile":{"get":{"tags":["Locations"],"summary":"Locations BoundingBox Tile","description":"Returns a list of cluster points inside the given bounding box.","parameters":[{"name":"x","in":"query","description":"x coordinate of tile","schema":{"type":"integer","format":"int32"}},{"name":"y","in":"query","description":"y coordinate of tile","schema":{"type":"integer","format":"int32"}},{"name":"zoomLevel","in":"query","description":"zoom level of the view","schema":{"type":"integer","format":"int32"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","description":"Min Kw for the charge point","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","description":"Max Kw for the charge point","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"overlapPixel","in":"query","description":"Determines the clustering pixel size to group. Adjust the values at different zoom level to get desired cluster.Default value is 15","schema":{"type":"integer","format":"int32","default":15}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationPoiResultListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/locations/{id}":{"get":{"tags":["Locations"],"summary":"Gets the full details of a location","description":"The response includes details about the location and associated evses.","parameters":[{"name":"id","in":"path","description":"Id of the location","required":true,"schema":{"type":"string"}},{"name":"filter.evseUid","in":"query","description":"evse uid","schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"paymentMethodId","in":"query","description":"Id of payment method. Optional unless you need to check if the location accepts this method.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModel"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/locations/evse/{evseUid}":{"get":{"tags":["Locations"],"summary":"Location by evse","description":"Get full details of a location by using evseId or evseUid","parameters":[{"name":"evseUid","in":"path","description":"EvseId or EvseUid","required":true,"schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModel"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/locations":{"get":{"tags":["Locations"],"summary":"Fetch all locations.","parameters":[{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User","schema":{"type":"string"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.locationIds","in":"query","description":"filter by locationIds","schema":{"type":"array","items":{"type":"string"}}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationSummaryGeoListResponse"}}}}}}},"/locations/availability":{"post":{"tags":["Locations"],"summary":"Returns availability information for a list of locations.","description":"- Minimum 1 location ID  \r\n- Maximum 20 location IDs","requestBody":{"description":"Contains the list of location IDs to retrieve availability for.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationAvailabilityRequest"}}}},"responses":{"200":{"description":"Availability retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationAvailabilityResponse"}}}},"400":{"description":"The request contains zero or more than 20 location IDs.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BadRequestObjectResult"}},"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestObjectResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/BadRequestObjectResult"}}}}}}},"/v2.1/locations/search":{"get":{"tags":["LocationsV2"],"summary":"Locations Search v2","parameters":[{"name":"q","in":"query","description":"Search query","schema":{"type":"string"}},{"name":"filter.evseUid","in":"query","description":"evse uid","schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"Optional, the latitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"paymentMethodId","in":"query","description":"","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":25}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModelGeoListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/v2.1/locations/nearby":{"get":{"tags":["LocationsV2"],"summary":"Locations Nearby v2","parameters":[{"name":"latitude","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"paymentMethodId","in":"query","description":"","schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModelGeoListResponse"}}}}}}},"/v2.1/locations/boundingbox":{"get":{"tags":["LocationsV2"],"summary":"Locations BoundingBox v2","description":"Get list of locations inside the given bounding box.\r\nmaximum results: 50\r\nlocations which can start sessions will have more priority.","parameters":[{"name":"bottomLeftLat","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"bottomLeftLng","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"topRightLat","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"topRightLng","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"Optional, the latitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"paymentMethodId","in":"query","description":"","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":50}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModelGeoListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/v2.1/locations/boundingbox-minimal":{"get":{"tags":["LocationsV2"],"summary":"Locations BoundingBox Minimal v2","description":"Get list of locations with minimal data inside the given bounding box.\r\nlocations which can start sessions will have more priority.","parameters":[{"name":"bottomLeftLat","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"bottomLeftLng","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"topRightLat","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"topRightLng","in":"query","description":"","schema":{"type":"number","format":"double"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}},{"name":"userLatitude","in":"query","description":"Optional, the latitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"userLongitude","in":"query","description":"Optional, the longitude of the user to bias search results towards the users' current location.","schema":{"type":"number","format":"double"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":50}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationMinModelGeoListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/v2.1/locations/{id}":{"get":{"tags":["LocationsV2"],"summary":"Location v2","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"paymentMethodId","in":"query","description":"","schema":{"type":"string"}},{"name":"filter.evseUid","in":"query","description":"evse uid","schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User. Optional unless you're tryig to retrieve a private location.","schema":{"type":"string"}},{"name":"filter.isAvailable","in":"query","description":"filter evses by Available status","schema":{"type":"boolean"}},{"name":"filter.isFavorite","in":"query","description":"filter by favorite location","schema":{"type":"boolean"}},{"name":"filter.directPayEnabled","in":"query","description":"filter only locations which have direct pay enabled","schema":{"type":"boolean"}},{"name":"filter.powerType","in":"query","description":"filter by power type","schema":{"enum":["AC","DC"],"type":"string"}},{"name":"filter.connectorType","in":"query","description":"filter by connector type","schema":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}},{"name":"filter.connectorTypes","in":"query","description":"filter by multiple connector types, it overrides connectorType filter","schema":{"type":"array","items":{"enum":["CHADEMO","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","IEC_60309_2_single_16","IEC_60309_2_three_16","IEC_60309_2_three_32","IEC_60309_2_three_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","TESLA_R","TESLA_S","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN"],"type":"string"}}},{"name":"filter.minKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.maxKw","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"filter.restrictedAccess","in":"query","description":"include semi-public chargers","schema":{"type":"boolean"}},{"name":"filter.country","in":"query","description":"filter by country (3 letter code)","schema":{"type":"string"}},{"name":"filter.customerExternalId","in":"query","description":"filter by customer external id","schema":{"type":"string"}},{"name":"filter.lastUpdated","in":"query","description":"filter locations that have been updated since this time","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModel"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/v2.1/locations/evse/{evseUid}":{"get":{"tags":["LocationsV2"],"summary":"Location by evse","description":"Get full details of a location by using evseId or evseUid","parameters":[{"name":"evseUid","in":"path","description":"EvseId or EvseUid","required":true,"schema":{"type":"string"}},{"name":"filter.appToken","in":"query","description":"unique identifier for Charge Assist User","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModel"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/wallet":{"get":{"tags":["Payment"],"summary":"Wallet","description":"Get registered payment methods for the appToken.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"locationId","in":"query","description":"id of the location","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodModelListResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/external":{"put":{"tags":["Payment"],"summary":"Adds a new payment method for external PSPs","description":"This endpoint allows you to add a new payment method for external payment service providers (PSPs).\r\nPlease be aware that you are responsible for ensuring the proper processing of these payments as well as that the provided external\r\npayment method ID is valid and corresponds to a payment method.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutExternalPaymentMethodRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/chargecard":{"put":{"tags":["Payment"],"summary":"Store a new charge card in this user's wallet","description":"Store a new charge card in the user's digital wallet for EV charging payments. \r\nThis endpoint allows you to register physical charge cards or RFID tokens that users can use to \r\nauthenticate and pay for charging sessions at compatible charging stations. Only the `visualNumber` \r\nfield is required and the `displayName` field is optional. The remaining properties should not be provided unless \r\nthis was intentionally activated as a feature.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutChargeCardRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/chargecard/link":{"post":{"tags":["Payment"],"summary":"Link ChargeCard to Wallet","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkChargeCardRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/chargecard/unlink":{"post":{"tags":["Payment"],"summary":"Unlink ChargeCard to Wallet","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnLinkChargeCardRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/psp/{pspSource}/paymentmethod":{"put":{"tags":["Payment"],"summary":"Add PSP Payment Method","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"pspSource","in":"path","description":"Payment service provider","required":true,"schema":{"enum":["Stripe","Lemonway","Adyen"],"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutPspTokenRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/payment/{appToken}/{id}":{"delete":{"tags":["Payment"],"summary":"ChargeCard","description":"Delete a charge card from this user's wallet","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"payment method id","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/IActionResult"}},"application/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/privatelocations/{appToken}":{"get":{"tags":["PrivateLocations"],"summary":"Get private locations for app token","parameters":[{"name":"appToken","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Optional, page size is the maximum count of locations returned in the response. It should be between 1-100.","schema":{"type":"integer","format":"int32","default":25}},{"name":"continuationToken","in":"header","description":"Optional, continuation token should be passed to every request after the first one in order to retrieve the next batch of locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationModelListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/qr":{"post":{"tags":["Qr"],"summary":"Parse Qr","description":"Parses a url and returns if it contains valid location / evse data.","requestBody":{"description":"Url encoded in QR codes on charge points","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QrRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QrResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/servicestatus":{"get":{"tags":["ServiceStatus"],"summary":"This endpoint is used to check the health of the API controller and Cosmos.","responses":{"200":{"description":"OK"},"503":{"description":"Service Unavailable","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/session/start":{"post":{"tags":["Session"],"summary":"Start a charging session","description":"Once a session has started the api user should not allow end users to start another session before this session is successfully stopped. \r\nAfter started, check the status of the session using the get status endpoint.","parameters":[{"name":"appToken","in":"query","description":"Unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The start request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"403":{"description":"Invalid token used","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"502":{"description":"Bad Gateway","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/session/stop":{"post":{"tags":["Session"],"summary":"Stop a charging session","description":"Once a session is stopped, check the status of the session using the get status endpoint.","parameters":[{"name":"appToken","in":"query","description":"Unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The stop request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"502":{"description":"Bad Gateway","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/session/{appToken}/mileage":{"post":{"tags":["Session"],"summary":"Update Mileage","description":"Update mileage of an ongoing session.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionMileageRequest"}}}},"responses":{"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/session/status":{"get":{"tags":["Session"],"summary":"Retrieves the status of a charging session based on the provided parameters.","description":"You can use this endpoint to monitor the progress of an ongoing charging session or to retrieve details about a completed session.\r\nWebhooks are recommended for real time updates.","parameters":[{"name":"appToken","in":"query","description":"Unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"chargeSessionId","in":"query","description":"ID of the charging session","required":true,"schema":{"type":"string"}},{"name":"maxDataPoints","in":"query","description":"Maximum number of data points to retrieve (default is 15)","schema":{"type":"integer","format":"int32","default":15}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/session/highpriority":{"post":{"tags":["Session"],"summary":"High priority charging for the session","parameters":[{"name":"appToken","in":"query","description":"","schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HighPriorityRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HighPriorityResponse"}}}},"400":{"description":"SmartCharging option disabled for the location","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"502":{"description":"Bad Gateway","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/session/externalcdr/{cdrId}/authid/{authId}":{"get":{"tags":["Session"],"parameters":[{"name":"cdrId","in":"path","required":true,"schema":{"type":"string"}},{"name":"authId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCdrInformationModel"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/sessionfailedpayments/initiate":{"post":{"tags":["SessionFailedPayments"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetryFailedSessionPaymentRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IActionResult"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/sessionfailedpayments/{appToken}":{"get":{"tags":["SessionFailedPayments"],"summary":"Fetch failed payments","parameters":[{"name":"appToken","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"paymentMethodId","in":"query","description":"","schema":{"type":"string"}},{"name":"continuationToken","in":"query","description":"","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedSessionPaymentModelListResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/sessionrating":{"post":{"tags":["SessionRating"],"summary":"Provide rating for the session","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingAllV2Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingV2Model"}}}}}}},"/sessionrating/rating":{"post":{"tags":["SessionRating"],"summary":"Provide rating for the session","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingV2Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingV2Model"}}}}}}},"/sessionrating/feedback":{"post":{"tags":["SessionRating"],"summary":"Provide rating for the session","requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingFeedbackV2Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingV2Model"}}}}}}},"/sessionrating/{chargeSessionId}":{"get":{"tags":["SessionRating"],"summary":"Get a rating for the session","parameters":[{"name":"chargeSessionId","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionRatingV2Model"}}}}}}},"/sessionrating/ratingoptions":{"get":{"tags":["SessionRating"],"summary":"Get rating options for session","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RatingOptionV2Model"}}}}}}}},"/v2.1/session/start":{"post":{"tags":["SessionV2"],"summary":"Start a charging session","description":"Once a session has started the api user should not allow end users to start another session before this session is successfully stopped. \r\nAfter started, check the status of the session using the get status endpoint.","parameters":[{"name":"appToken","in":"query","description":"Unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The start request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"403":{"description":"Invalid token used","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"502":{"description":"Bad Gateway","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/v2.1/session/stop":{"post":{"tags":["SessionV2"],"summary":"Stop a charging session","description":"Once a session is stopped, check the status of the session using the get status endpoint.","parameters":[{"name":"appToken","in":"query","description":"Unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The stop request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"502":{"description":"Bad Gateway","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/v2.1/session/{appToken}/mileage":{"post":{"tags":["SessionV2"],"summary":"Update Mileage","description":"Update mileage of an ongoing session.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionMileageRequest"}}}},"responses":{"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/v2.1/session/status":{"get":{"tags":["SessionV2"],"summary":"Retrieves the status of a charging session based on the provided parameters.","description":"You can use this endpoint to monitor the progress of an ongoing charging session or to retrieve details about a completed session.\r\nWebhooks are recommended for real time updates.","parameters":[{"name":"appToken","in":"query","description":"Unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"chargeSessionId","in":"query","description":"ID of the charging session","required":true,"schema":{"type":"string"}},{"name":"maxDataPoints","in":"query","description":"Maximum number of data points to retrieve (default is 15)","schema":{"type":"integer","format":"int32","default":15}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}}}}},"/v2.1/session/highpriority":{"post":{"tags":["SessionV2"],"summary":"High priority charging for the session","parameters":[{"name":"appToken","in":"query","description":"","schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HighPriorityRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HighPriorityResponse"}}}},"400":{"description":"SmartCharging option disabled for the location","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseV2"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}},"502":{"description":"Bad Gateway","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/tariff/{appToken}/evse/{locationId}/{evseUid}":{"get":{"tags":["Tariff"],"summary":"Calculates the tariff for the given token and connector combination.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"locationId","in":"path","description":"unique id of the location","required":true,"schema":{"type":"string"}},{"name":"evseUid","in":"path","description":"unique id of the evse","required":true,"schema":{"type":"string"}},{"name":"connectorId","in":"query","description":"connector identifier","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletTariffItemListResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/tariff/evse/{locationId}/{evseUid}":{"get":{"tags":["Tariff"],"summary":"Calculates the tariff for the default token and connector combination.","parameters":[{"name":"locationId","in":"path","description":"The location identifier.","required":true,"schema":{"type":"string"}},{"name":"evseUid","in":"path","description":"The EVSE identifier.","required":true,"schema":{"type":"string"}},{"name":"connectorId","in":"query","description":"The connector identifier.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletTariffItem"}}}},"204":{"description":"When tariff information is requested for a charge card payment method as this is unknown."},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"If no tariff for this connector could be found. This also means we cannot start a charging session on this location.","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/bulktariff/{appToken}/paymentmethod/{paymentMethodId}":{"post":{"tags":["Tariff"],"summary":"Bulk Tariff","description":"Calculates the tariff for the given token and evses.","parameters":[{"name":"appToken","in":"path","description":"unique identifier for Charge Assist User","required":true,"schema":{"type":"string"}},{"name":"paymentMethodId","in":"path","description":"unique id of the payment method","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkTariffsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkTariffResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/vid/{appToken}/register":{"post":{"tags":["Vid"],"summary":"Registered Auto charge VID","parameters":[{"name":"appToken","in":"path","description":"unique identifier for device installation or user","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VidMappingRegisterRequestExternal"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VidMappingModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/vid/{appToken}/deregister":{"post":{"tags":["Vid"],"summary":"Deregister Auto charge","parameters":[{"name":"appToken","in":"path","description":"unique identifier for device installation or user","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VidMappingModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/vid/{appToken}/changepaymentmethod":{"post":{"tags":["Vid"],"summary":"Change payment method for Auto charge","parameters":[{"name":"appToken","in":"path","description":"","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VidChangePaymentMethodRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VidMappingModel"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/webhooks/paymentstatus":{"post":{"tags":["Webhooks"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentStatusRequest"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}},"application/json":{"schema":{"$ref":"#/comp
[...]
