{"openapi":"3.0.1","info":{"title":"Charge Location Management APIs","version":"1.0"},"servers":[{"url":"https://platform-a.greenflux.com","description":"Acceptance server (uses test data)"},{"url":"https://platform.greenflux.com","description":"Production server (uses real data)"}],"paths":{"/api/{versionNumber}/ChargeStations":{"get":{"tags":["Platform API: Charge Stations module"],"summary":"Get all Charge Stations","description":"Retrieve all charge stations. Option to filter based on specific Location ID.","operationId":"ChargeStations_GetAllChargeStations","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"cpoId","in":"query","schema":{"type":"string"}},{"name":"date_from","in":"query","description":"Retrieve Charge Stations updates after this date. Status updates of EVSEs do count as an update. If this is used to populate an external database, then calls should be made at a maximum of 1 per hour.","schema":{"type":"string","format":"date-time"}},{"name":"date_to","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"location_id","in":"query","schema":{"type":"string"}},{"name":"exclude_evses_modified","in":"query","description":"When set to true the date_from and date_to parameters will exclude changes on the Evse level. Only changes for Charge Station will be taken into account.","schema":{"type":"boolean","default":false}},{"name":"offset","in":"query","description":"Used for paging. Offset any number of entities","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GcpiChargeStation"}},"examples":{"Charge Station with EVSEs":{"$ref":"#/components/examples/FullChargeStationObject"}}}}}}},"post":{"tags":["Platform API: Charge Stations module"],"summary":"Create Charge Station","description":"Create a Charge Stations. Must have either full EVSE object or use HardwareTemplateID","operationId":"ChargeStations_CreateChargeStation","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiPostChargeStation"},"examples":{"Minimum fields required with Hardware template":{"value":{"charge_station_id":"SampleChargeStationId","location_id":"03144525-AFCD-415A-92B7-5DF4871A39FB","deploy_state":"Stock","default_charge_station_tariff_id":"A1","charge_station_template_id":"ABBT2-hardware-template_gfx7HW","country":"NLD"}},"Full object with EVSE":{"$ref":"#/components/examples/PostChargeStationObjectRequest"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChargeStation"},"examples":{"success - Full Charge Station object":{"$ref":"#/components/examples/PostChargeStationObjectResponseSuccess"},"error - Full Charge Station object":{"$ref":"#/components/examples/PostChargeStationObjectResponseError"}}}}}}}},"/api/{versionNumber}/ChargeStations/{chargeStationId}":{"get":{"tags":["Platform API: Charge Stations module"],"summary":"Get Charge Station by ID","description":"Get a Charge Station by ID. Data is real time. <br> Not intended to pull all Charge Stations by ID every couple of minutes. Please use the Get all Charge Stations endpoint.","operationId":"ChargeStations_GetChargeStationById","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"chargeStationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChargeStation"},"examples":{"Full Charge Station object":{"$ref":"#/components/examples/FullSingleChargeStationObjectResponse"}}}}}}},"put":{"tags":["Platform API: Charge Stations module"],"summary":"Update Charge Station","description":"Upserts the Charge Stations object.","operationId":"ChargeStations_PutChargeStationById","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"chargeStationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiPutChargeStation"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChargeStation"},"examples":{"Full Charge Station object":{"$ref":"#/components/examples/FullSingleChargeStationObjectResponse"}}}}}}},"patch":{"tags":["Platform API: Charge Stations module"],"summary":"Patch Charge Station","description":"Patch a single or few fields for a charge station.","operationId":"ChargeStations_PatchChargeStationById","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"chargeStationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiPatchChargeStation"},"example":{"charge_station_id":"ExampleChargeStationId","default_charge_station_tariff_id":"A1"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChargeStation"},"examples":{"Full Charge Station object":{"$ref":"#/components/examples/FullSingleChargeStationObjectResponse"}}}}}}}},"/api/{versionNumber}/ChargeStations/ChargestationTemplate":{"post":{"tags":["Platform API: Charge Stations module"],"summary":"Create Hardware template","description":"Create Hardware template","operationId":"ChargeStations_CreateChargeStationTemplate","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"cpsoIds","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChargeStationTemplate"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChargeStationTemplate"}}}}}},"get":{"tags":["Platform API: Charge Stations module"],"summary":"Get all Hardware templates","description":"Get all Hardware templates","operationId":"ChargeStations_GetChargeStationTemplate","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"cpsoIds","in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GcpiChargeStationTemplate"}}}}}}}},"/api/{versionNumber}/Locations":{"get":{"tags":["Platform API: Locations V2 module"],"summary":"Get all Locations","description":"Get all Locations","operationId":"Locations_GetAllLocations","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}},{"name":"cpoId","in":"query","description":"allows to query on a specific sub-CPO","schema":{"type":"string"}},{"name":"date_from","in":"query","description":"Retrieve Locations updates after this date. Status updates of EVSEs don't count as an update.","schema":{"type":"string","format":"date-time"}},{"name":"date_to","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"street","in":"query","schema":{"type":"string"}},{"name":"housenumber","in":"query","schema":{"type":"string"}},{"name":"city","in":"query","schema":{"type":"string"}},{"name":"postcode","in":"query","schema":{"type":"string"}},{"name":"country","in":"query","description":"The 3 character country code of the location","schema":{"type":"string"}},{"name":"latitude","in":"query","description":"This is used to search by geolocation. The latitude provided is the center of the search. Longitude must be supplied if latitude is provided.","schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"This is used to search by geolocation. The longitude provided is the center of the search. latitude must be supplied if longitude is provided.","schema":{"type":"number","format":"double"}},{"name":"exclude_evses","in":"query","description":"Exclude the lists of Evses","schema":{"type":"boolean","default":false}},{"name":"exclude_evses_modified","in":"query","description":"When set to true the date_from and date_to parameters will exclude changes on the Evse level. Only changes for Location will be taken into account.","schema":{"type":"boolean","default":false}},{"name":"distanceinmeters","in":"query","description":"This is used to search by geolocation. It is the search radius, minimum/default of 100 metres. maximum 1000 metres. Only used when latitude and longitude are supplied","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Used for paging. Offset any number of entities","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Max value is 1000","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GcpiLocation"}},"examples":{"With two CS incl EVSE":{"$ref":"#/components/examples/LocationResponseTwoCSInclEFVSE"},"Excl. EVSEs":{"$ref":"#/components/examples/LocationResponseExclEvses"},"Minimum fields and no EVSEs":{"$ref":"#/components/examples/LocationResponseMinimumfieldsandnoEVSEs"}}}}}}},"post":{"tags":["Platform API: Locations V2 module"],"summary":"Create a Location","description":"Create a Location","operationId":"Locations_CreateLocation","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiPostLocation"},"examples":{"Minimum fields required":{"value":{"cpo_id":"GreenFlux","name":"TestLocationCreateAPI2","address":"Clara Meyer-Wichmannstraat 100","city":"Amsterdam","postal_code":"1097HW","country":"NLD"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiLocation"},"examples":{"Minimum fields required":{"$ref":"#/components/examples/MinimumfieldsLocation"}}}}}}}},"/api/{versionNumber}/Locations/{locationId}":{"get":{"tags":["Platform API: Locations V2 module"],"summary":"Get a Location by ID","description":"Get a Location by ID. Real time.","operationId":"Locations_GetLocationById","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}},{"name":"locationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"excludeEvses","in":"query","description":"Exclude the Evse Object. Default is false","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiLocation"},"examples":{"success":{"$ref":"#/components/examples/FullLocationobject"}}}}}}},"put":{"tags":["Platform API: Locations V2 module"],"summary":"Upsert Location","description":"Upsert Location","operationId":"Locations_PutLocation","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}},{"name":"locationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiPutLocation"},"examples":{"Minimum fields required":{"value":{"cpo_id":"GreenFlux","id":"03144525-AFCD-415A-92B7-5DF4871A39FB","name":"TestLocationCreateAPI2","address":"Clara Meyer-Wichmannstraat 100","city":"Amsterdam","postal_code":"1097HW","country":"NLD","etag":"d2208227-ce34-44ed-a831-7236362a5bb0"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiLocation"},"examples":{"Success":{"$ref":"#/components/examples/FullLocationobject"},"Error":{"$ref":"#/components/examples/FullLocationobjectError"}}}}}}},"patch":{"tags":["Platform API: Locations V2 module"],"summary":"Patch Location","description":"Patch Location","operationId":"Locations_PatchLocation","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}},{"name":"locationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiPatchLocation"},"examples":{"Minimum fields required":{"value":{"cpo_id":"GreenFlux","id":"03144525-AFCD-415A-92B7-5DF4871A39FB"}},"Change a value":{"value":{"cpo_id":"GreenFlux","id":"03144525-AFCD-415A-92B7-5DF4871A39FB","maintenance_info":"Update for the Maintenance information"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiLocation"},"examples":{"Success":{"$ref":"#/components/examples/FullLocationobject"},"Error":{"$ref":"#/components/examples/FullLocationobjectError"}}}}}}}},"/api/{versionNumber}/chargestationconfigurations/batch/update":{"post":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Batch update multiple configurations of multiple charge stations","description":"This API allows you to batch update multiple configurations of multiple charge stations.","operationId":"ChargeStationConfigurations_PostBatchUpdate","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"description","in":"query","description":"The description (friendly name) of the batch update","schema":{"type":"string","nullable":true}}],"requestBody":{"description":"The input is a ; delimited CSV file with the following columns: (ChargeStationId; Key; Value; ResetOnAccepted (OnIdle, Immediate or empty); Retries (number of retries (0 - 5)); Delay (number of seconds between each try (0 - 60))","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"array","items":{"type":"string","format":"binary"}}}},"encoding":{"file":{"contentType":"text/csv","style":"form"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeStationConfigurationsPostBatchUpdate"}}}}}}},"/api/{versionNumber}/chargestationconfigurations/batch":{"get":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Get the history of batch config updates.","description":"This API allows you to get a history of batch config updates.","operationId":"ChargeStationConfigurations_GetBatchUpdate","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"date_from","in":"query","description":"Will return only Batch Change Configuration created since this date.","schema":{"type":"string","format":"date-time","nullable":true}},{"name":"date_to","in":"query","description":"Will return only Batch Change Configuration created up to this date.","schema":{"type":"string","format":"date-time","nullable":true}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":1000,"nullable":true}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeStationConfigurationsGetBatchUpdate"}}}}}}},"/api/{versionNumber}/chargestationconfigurations/batch/report/{reportId}":{"get":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Get the report data for a batch config update","description":"This API allows you to retrieve the report for a batch config update operation.","operationId":"ChargeStationConfigurations_GetBatchReport","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"reportId","in":"path","description":"The ReportId that you get in the response before.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeStationConfigurationsBatchUpdateReport"}}}}}}},"/api/{versionNumber}/chargestationconfigurations/batch/report/{reportId}/input":{"get":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Get the source input for a batch config","description":"This API allows you to retrieve the source input file for a batch config update operation.","operationId":"ChargeStationConfigurations_GetBatchReportInput","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"reportId","in":"path","description":"The ReportId that you get in the response before.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The output will be a csv file with the following columns: (ChargeStationId, Key, Value, ResetOnAccepted, Retries)","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/api/{versionNumber}/chargestationconfigurations/batch/report/{reportId}/output":{"get":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Get Batch Report CSV Output File","description":"This API allows you to retrieve the report for a batch config update operation.","operationId":"ChargeStationConfigurations_GetBatchReportOutput","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"reportId","in":"path","description":"The ReportId that you get in the response before.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The output will be a csv file with the following columns: (ChargeStationId, Key, Value, ResetOnAccepted, Retries, Delay, Status, Remarks)","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/api/{versionNumber}/chargestationconfigurations":{"post":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Get Configuration Item for Multiple Charge Stations","description":"This API allows you to retrieve the value of a configuration item for multiple charge stations.","operationId":"ChargeStationConfigurations_GetConfigItemMultiple","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeStationConfigurationGetConfigItem"}}}},"responses":{"200":{"description":"A csv file containing following columns: (ChargeStationId, Value)","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/api/{versionNumber}/chargestationconfigurations/{chargeStationId}":{"get":{"tags":["Platform API: ChargeStationConfigurations module"],"summary":"Get ChargeStation configuration values.","description":"This API allows you to retrieve all configuration values for a particular charge station.","operationId":"ChargeStationConfigurations_GetChargeStationCofigurationValues","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"chargeStationId","in":"path","description":"The ChargeStationId to retrive configuration values for it.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The output will be a csv file with the following columns: (ChargeStationId, Key, Value)","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/api/{versionNumber}/chargestationcertificates/root":{"get":{"tags":["Platform API: ChargeStationCertificates module"],"summary":"Get GreenFlux Root Certificate","description":"This API allows you to retrieve the public root certificate of GreenFlux.","operationId":"ChargeStationCertificates_ChargeStationCARootCertificate","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}}],"responses":{"200":{"description":"The output will be a string of root certificate ","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/api/{versionNumber}/CpoCustomers":{"get":{"tags":["CpoCustomers"],"summary":"Get CPO customers","description":"Returns CPO customers available. Results can be filtered by CPO ID and paginated using the offset and limit query parameters.\n","operationId":"CpoCustomers_GetCpoCustomers","parameters":[{"name":"versionNumber","in":"path","description":"Platform API version number","required":true,"schema":{"enum":["2.0"],"type":"string","default":"2.0"}},{"name":"cpo_id","in":"query","description":"Optional CPO ID used to filter the results","schema":{"type":"string"}},{"name":"offset","in":"query","description":"Number of records to skip","schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Maximum number of records to return","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCpoCustomersResponse"},"examples":{"Success":{"$ref":"#/components/examples/CpoCustomersResponse"}}}}}}},"post":{"tags":["CpoCustomers"],"summary":"Create a CPO Customer","description":"Creates a new CPO Customer","operationId":"CpoCustomers_PostCpoCustomers","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}}],"requestBody":{"description":"CPO customer to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCpoCustomer"},"examples":{"CpoCustomer":{"$ref":"#/components/examples/CpoCustomerCreateRequest"}}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCpoCustomer"},"examples":{"CpoCustomer":{"$ref":"#/components/examples/CpoCustomerResponse"}}}}}}}},"/api/{versionNumber}/CpoCustomers/{cpoId}/{externalId}":{"get":{"tags":["CpoCustomers"],"summary":"Get a CPO Customer","description":"Get a CPO Customer","operationId":"CpoCustomers_GetCpoCustomer","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}},{"name":"cpoId","in":"path","description":"CPO ID","required":true,"schema":{"type":"string"}},{"name":"externalId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCpoCustomer"},"examples":{"CpoCustomerResponse":{"$ref":"#/components/examples/CpoCustomerResponse"}}}}}}},"put":{"tags":["CpoCustomers"],"summary":"Update a CPO Customer","description":"Update a CPO Customer","operationId":"CpoCustomers_UpdateCpoCustomer","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 2.0","required":true,"schema":{"type":"string","default":"2.0"}},{"name":"cpsoIds","in":"header","schema":{"type":"string"}},{"name":"cpoId","in":"path","required":true,"schema":{"type":"string"}},{"name":"externalId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCpoCustomer"},"examples":{"CpoCustomerUpdateRequest":{"$ref":"#/components/examples/CpoCustomerUpdateRequest"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCpoCustomer"},"examples":{"CpoCustomerResponse":{"$ref":"#/components/examples/CpoCustomerResponse"}}}}}}}}},"components":{"schemas":{"ChargeStationConfigurationGetConfigItem":{"required":["limit","offset"],"type":"object","properties":{"charge_station_ids":{"type":"array","items":{"type":"string"},"description":"A list of charge station Ids which the configuration item should be retrieved"},"key":{"type":"string","description":"ChargeStation Configuration Key"},"keys":{"type":"array","items":{"type":"string"},"description":"Specify multiple configuration keys"},"firmware_version":{"type":"string","description":"Filter by ChargeStation FirmwareVersion"},"charge_point_vendor":{"type":"string","description":"Filter by ChargeStation ChargePointVendor"},"protocol_version":{"type":"string","description":"Filter by ChargeStation ProtocolVersion"},"limit":{"type":"integer","description":"Number of ChargeStations to include in CSV. Maximum value 1000.","format":"int32"},"offset":{"type":"integer","description":"Number of ChargeStations to skip","format":"int32"}},"additionalProperties":false,"description":"Get Configuration Item for Multiple Charge Stations request model."},"ChargeStationConfigurationsBatchUpdateReport":{"type":"object","properties":{"report_id":{"type":"string","description":"The ReportId can be used to call the batch report API and get the csv to check the status of the batch operation."},"cpo_id":{"type":"string","description":""},"creation_date":{"type":"string","description":"","format":"date-time"},"description":{"type":"string","nullable":true},"status":{"enum":["Inprogress","Completed","Failed"],"type":"string"}},"additionalProperties":false},"ChargeStationConfigurationsGetBatchUpdate":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChargeStationConfigurationsBatchUpdateReport"},"description":""},"status_message":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/OcpiStatusCode"},"timestamp":{"type":"string","format":"date-time"}},"additionalProperties":false,"description":"ChargeStationConfigurations Get Batch Update History response model."},"ChargeStationConfigurationsPostBatchUpdate":{"type":"object","properties":{"data":{"type":"object","properties":{"report_id":{"type":"string","description":"The ReportId can be used to call the batch report API and get the csv to check the status of the batch operation."},"status":{"enum":["Inprogress","Failed"],"type":"string","description":"The Status of the operation."},"validation_error":{"type":"string","description":"Validation errors if any."}},"description":""},"status_message":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/OcpiStatusCode"},"timestamp":{"type":"string","format":"date-time"}},"additionalProperties":false,"description":"ChargeStationConfigurations Post Batch Update model."},"GcpiAccessType":{"enum":["PUBLIC","RESTRICTED","PRIVATE"],"type":"string","description":"If a Location has whitelisted tokens, it is PRIVATE. If the field 'Restriced' is selected, then RESTRICED is used. If the Location is published, then it is PUBLIC."},"GcpiAuthRule":{"type":"object","properties":{"type":{"enum":["CustomerExternalId","ClosedGroups","HomeToken"],"type":"string","description":"CustomerExternalId representing EMSP customer object; ClosedGroups and HomeToken representing EMSP token object.","nullable":true},"value":{"type":"string","description":"For customer EMSP object, you need to indicate its external ID, for token EMSP object, you need to indicate the Auth ID.","nullable":true}},"additionalProperties":false,"description":"Whitelist Customer IDs and/or specific tokens for granting exclusive access and/or exempt specific tokens's sessions from VAT in the cost calculation."},"GcpiBusinessDetails":{"type":"object","properties":{"name":{"type":"string","nullable":true},"website":{"type":"string","nullable":true},"logo":{"$ref":"#/components/schemas/GcpiImage"},"phone_number":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiChargePointConnectivity":{"enum":["Online","Offline"],"type":"string"},"GcpiChargeStation":{"type":"object","properties":{"charge_station_id":{"type":"string","description":"Unique Charge Station id","nullable":true},"location_id":{"type":"string","description":"Location ID the Charge Station belongs to","nullable":true},"name":{"type":"string","description":"Custom Name of the Charge Station","nullable":true},"deploy_state":{"$ref":"#/components/schemas/GcpiChargeStationDeployState"},"installation_date":{"type":"string","description":"Installation date of the Charge Station","format":"date-time","nullable":true},"default_charge_station_reimbursement_tariff_id":{"type":"string","description":"the default reimbursement tariff for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_tariff_id":{"type":"string","description":"the default tariff id for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"description":"the default direction for the Charge station.","nullable":true},"default_charge_station_floor_level":{"type":"string","description":"the default floor for the Charge station.","nullable":true},"driver_id":{"type":"string","description":"Driver ID linked to the Charge Station (see Charge Assist)","nullable":true},"customer_id":{"type":"string","description":"Customer ID linked to the Charge Station (see Charge Assist)","nullable":true},"evses":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvse"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info relating to the Charge Station","nullable":true},"remarks":{"type":"string","description":"Notes and general remarks relating to the Charge Station","nullable":true},"contactless_terminal_serial_number":{"type":"string","description":"Contactless terminal serial number (only if contactless terminal installed)","nullable":true},"contactless_terminal_auth_amount":{"type":"number","description":"Minimum pre-auth amount set","format":"double","nullable":true},"status_schedule":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvseStatusSchedule"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"contactless_type":{"type":"string","description":"contactless type used, currently only Payter and Nayax","nullable":true},"tap_to_stop":{"type":"boolean","description":"end the session with the same contactless card","nullable":true},"stop_on_parking":{"type":"boolean","description":"stop on parking detection","nullable":true},"grid_connection_id":{"type":"string","description":"This field facilitates matching the grid consumption details from the electricity provider with the ones on our platform."},"dynamic_time_based_tariffs":{"type":"boolean","description":"search for DTB in the knowledge hub for details","nullable":true},"time_of_use_tariffs":{"type":"boolean","description":"search for ToU in the knowledge hub for details","nullable":true},"exclude_vat":{"type":"boolean","description":"search for VAT exemption in the knowledge hub for details","nullable":true},"charger_type":{"enum":["Public","Home","Business"],"type":"string","description":"The type of charge station. Only for Charge Stations on GreenFlux platform where value is configured. Optional and exact definition and use is CPO specific.","nullable":true},"charge_station_template_id":{"type":"string","description":"Hardware template id used when creating or updating a CS. Not returned in a GET call.","nullable":true},"etag":{"type":"string","nullable":true},"created_by":{"type":"string","description":"Username who created the object. Can be supplied during creation or updating, otherwise 'Not Provided' as default. If edited via the EvPortal, this will be propulatd from there.","nullable":true},"modified_by":{"type":"string","description":"Username of last modification of the object. Can be supplied during creation or updating, otherwise 'Not Provided' as default. If edited via the EvPortal, this will be propulatd from there.","nullable":true},"status":{"$ref":"#/components/schemas/GcpiEvseStatus"},"charging_speed":{"$ref":"#/components/schemas/GcpiChargingSpeed"},"created":{"type":"string","description":"date when the Location was created","format":"date-time"},"modified":{"type":"string","description":"date when the Location was last modified","format":"date-time","nullable":true},"heartbeat_interval":{"type":"integer","description":"the heartbeat interval set for this charge station (read-only)","format":"int32","nullable":true},"charge_point_model":{"type":"string","description":"the charge station mode (read-only)","nullable":true},"charge_point_vendor":{"type":"string","description":"the charge point vendor or manufacturer (read-only)","nullable":true},"charge_point_serial_number":{"type":"string","description":"serial number of the charge station (read-only)","nullable":true},"charge_box_serial_number":{"type":"string","nullable":true},"client_ip_address":{"type":"string","nullable":true},"firmware_version":{"type":"string","description":"firmware version charge station (read-only)","nullable":true},"iccid":{"type":"string","nullable":true},"imsi":{"type":"string","nullable":true},"meter_serial_number":{"type":"string","nullable":true},"meter_type":{"type":"string","nullable":true},"remote_manageable":{"type":"boolean","nullable":true},"connectivity_status":{"$ref":"#/components/schemas/GcpiChargePointConnectivity"},"protocol_version":{"$ref":"#/components/schemas/GcpiProtocolVersion"},"endpoint":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiChargeStationDeployState":{"enum":["Stock","Production","Deprecated"],"type":"string","description":"The deployment state of the Charge Station. Only in Production are Locations and CDRs shared externally."},"GcpiChargeStationTemplate":{"type":"object","properties":{"template_id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"tenant_id":{"type":"string","nullable":true},"evse_templates":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvseTemplate"},"nullable":true}},"additionalProperties":false,"description":"The Hardware template used for this Charge Station. EVSEs can still be updated independently afterwards."},"GcpiChargingSpeed":{"enum":["Slow","Fast","Rapid","Mix_AC_DC","Mix_DC"],"type":"string","description":"This field is auto-generated based on the max-power set at the Connector level. Slow - all connectors are AC; Fast means DC between 50-100kW; Rapid is above 101kW; Mix AC_DC and Mix_DC are a combination of the previous options."},"GcpiConnector":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the connector within the EVSE. Two connectors may have the same id as long as they do not belong to the same EVSE object","nullable":true},"standard":{"type":"string","description":"The connector type","nullable":true},"format":{"type":"string","description":"The cable type used","nullable":true},"power_type":{"type":"string","description":"the power type of the charge station","nullable":true},"voltage":{"type":"integer","description":"Voltage of the connector (line to neutral for AC_3_PHASE), in volt","format":"int32"},"amperage":{"type":"integer","description":"Maximum amperage of the connector, in ampere [A].","format":"int32"},"max_electric_power":{"type":"integer","description":"Maximum electric power that can be delivered by this connector, in watt [W]. When the maximum electric power is lower than the calculated value from voltage and amperage, this value should be set. OCPI addendum.","format":"int32","nullable":true},"tariff_id":{"type":"string","description":"Identifier of the current charging tariff structure. For a \"Free of Charge\" tariff this field should be set, and point to a defined \"Free of Charge\" tariff.","nullable":true},"terms_and_conditions":{"type":"string","description":"URL to the operator’s terms and conditions.","nullable":true},"last_updated":{"type":"string","description":"Timestamp when this Connectors was last updated (or created).","format":"date-time","nullable":true},"reimbursement_tariff_id":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiConnectorTemplate":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"amperage":{"type":"integer","format":"int32"},"voltage":{"type":"integer","format":"int32"},"max_electric_power":{"type":"integer","format":"int32","nullable":true},"standard":{"type":"string","nullable":true},"format":{"type":"string","nullable":true},"power_type":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiCpoCustomer":{"type":"object","properties":{"name":{"type":"string","description":"Customer name","nullable":true},"cpo_id":{"type":"string","description":"CPO ID","nullable":true},"external_id":{"type":"string","nullable":true},"properties":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCpoCustomerProperty"},"nullable":true},"operator_details":{"$ref":"#/components/schemas/GcpiOperatorDetails"},"vat_number":{"type":"string","description":"Customer VAT number","nullable":true}},"additionalProperties":false},"GcpiCpoCustomerProperty":{"type":"object","properties":{"name":{"type":"string","description":"Property name","nullable":true},"value":{"type":"string","description":"Property value","nullable":true}},"additionalProperties":false},"GcpiCpoCustomerResponse":{"required":["status_code","timestamp"],"type":"object","properties":{"data":{"allOf":[{"$ref":"#/components/schemas/GcpiCpoCustomer"}],"nullable":true},"timestamp":{"type":"string","format":"date-time"},"status_code":{"$ref":"#/components/schemas/OcpiStatusCode"},"status_message":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiCpoCustomersResponse":{"required":["status_code","timestamp"],"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCpoCustomer"},"nullable":true},"timestamp":{"type":"string","format":"date-time"},"status_code":{"$ref":"#/components/schemas/OcpiStatusCode"},"status_message":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiCustomGroup":{"type":"object","properties":{"name":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true}},"additionalProperties":false,"description":"Custom Groups the Location belongs to. Only applicable for Charge Stations on GreenFlux Platform."},"GcpiCustomisedField":{"type":"object","properties":{"type":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiDisplayText":{"type":"object","properties":{"language":{"type":"string","nullable":true},"text":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiEnergyMix":{"type":"object","properties":{"energy_mix_profile_id":{"type":"string","description":"the energy mix profile Id used","nullable":true},"is_green_energy":{"type":"boolean","description":"True if 100% from regenerative sources.","nullable":true},"energy_sources":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEnergySource"},"description":"Key-value pairs (enum + percentage) of energy sources of this location’s tariff","nullable":true},"environ_impact":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEnvironmentalImpact"},"description":"Key-value pairs (enum + percentage) of nuclear waste and CO2 exhaust of this location’s tariff.","nullable":true},"supplier_name":{"type":"string","description":"Name of the energy supplier, delivering the energy for this location or tariff","nullable":true},"energy_product_name":{"type":"string","description":"Name of the energy suppliers product/tariff plan used at this location","nullable":true}},"additionalProperties":false},"GcpiEnergyMixProfileId":{"type":"string","properties":{"energy_mix_profile_id":{"type":"string","description":"the energy mix profile Id used","nullable":true}}},"GcpiEnergySource":{"type":"object","properties":{"source":{"$ref":"#/components/schemas/GcpiEnergySourceCategory"},"percentage":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"GcpiEnergySourceCategory":{"enum":["NUCLEAR","GENERAL_FOSSIL","COAL","GAS","GENERAL_GREEN","SOLAR","WIND","WATER"],"type":"string"},"GcpiEnvironmentalImpact":{"type":"object","properties":{"source":{"$ref":"#/components/schemas/GcpiEnvironmentalImpactCategory"},"amount":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"GcpiEnvironmentalImpactCategory":{"enum":["NUCLEAR_WASTE","CARBON_DIOXIDE"],"type":"string"},"GcpiEvse":{"type":"object","properties":{"uid":{"type":"string","description":"Uniquely identifies the EVSE within the CPOs platform.  This is the ‘technical’ identification of the EVSE, sometimes referred to as Node ID","nullable":true},"evse_id":{"type":"string","description":"Unique EVSE where MeterValue has been generated from","nullable":true},"status":{"$ref":"#/components/schemas/GcpiEvseStatus"},"status_schedule":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvseStatusSchedule"},"nullable":true},"capabilities":{"type":"array","items":{"type":"string"},"description":"List of functionalities that the EVSE is capable of.","nullable":true},"connectors":{"type":"array","items":{"$ref":"#/components/schemas/GcpiConnector"},"nullable":true},"floor_level":{"type":"string","description":"Level on which the charging station is located (in garage buildings) in the locally displayed numbering scheme","nullable":true},"coordinates":{"$ref":"#/components/schemas/GcpiGeoLocation"},"physical_reference":{"type":"string","description":"A number/string printed on the outside of the EVSE for visual identification.","nullable":true},"directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"description":"Multi-language human-readable directions when more detailed information on how to reach the EVSE from the Location is required. Typically not used for small Locations","nullable":true},"parking_restrictions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiParkingRestriction"},"nullable":true},"images":{"type":"array","items":{"$ref":"#/components/schemas/GcpiImage"},"nullable":true},"last_updated":{"type":"string","description":"Timestamp when this EVSE or one of its Connectors was last updated (or created)","format":"date-time","nullable":true},"evse_sequence_number":{"type":"integer","description":"The sequence number of the EVSE","format":"int32"}},"additionalProperties":false,"description":"List of EVSEs that belong to this Location"},"GcpiEvseStatus":{"enum":["AVAILABLE","BLOCKED","CHARGING","INOPERATIVE","OUTOFORDER","PLANNED","REMOVED","RESERVED","UNKNOWN"],"type":"string","description":"The possible states a the Charge Station as a whole or each Connector can return based on OCPI."},"GcpiEvseStatusSchedule":{"type":"object","properties":{"period_begin":{"type":"string","format":"date-time"},"period_end":{"type":"string","format":"date-time","nullable":true},"status":{"$ref":"#/components/schemas/GcpiEvseStatus"},"status_message":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiEvseTemplate":{"type":"object","properties":{"evse_sequence_number":{"type":"integer","format":"int32"},"capabilities":{"type":"array","items":{"type":"string"},"nullable":true},"connector_templates":{"type":"array","items":{"$ref":"#/components/schemas/GcpiConnectorTemplate"},"nullable":true}},"additionalProperties":false},"GcpiExceptionalPeriod":{"type":"object","properties":{"period_begin":{"type":"string","format":"date-time"},"period_end":{"type":"string","format":"date-time"}},"additionalProperties":false,"description":"Exceptions for specified calendar dates, time-range based"},"GcpiGeoLocation":{"type":"object","properties":{"latitude":{"type":"string","nullable":true},"longitude":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiHours":{"type":"object","properties":{"regular_hours":{"type":"array","items":{"$ref":"#/components/schemas/GcpiRegularHours"},"nullable":true},"twentyfourseven":{"type":"boolean","description":"auto-created field. If opening hours are not 24-7 then it is 'false'"},"exceptional_openings":{"type":"array","items":{"$ref":"#/components/schemas/GcpiExceptionalPeriod"},"nullable":true},"exceptional_closings":{"type":"array","items":{"$ref":"#/components/schemas/GcpiExceptionalPeriod"},"nullable":true}},"additionalProperties":false},"GcpiImage":{"type":"object","properties":{"url":{"type":"string","nullable":true},"thumbnail":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/GcpiImageCategory"},"type":{"type":"string","nullable":true},"width":{"type":"integer","format":"int32","nullable":true},"height":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"GcpiImageCategory":{"enum":["CHARGER","ENTRANCE","LOCATION","NETWORK","OPERATOR","OTHER","OWNER"],"type":"string"},"GcpiLocation":{"type":"object","properties":{"id":{"type":"string","description":"Uniquely identifies the location within the CPOs platform (and suboperator platforms). This field can never be changed, modified or renamed.","nullable":true},"type":{"$ref":"#/components/schemas/GcpiLocationType"},"publish":{"type":"boolean","description":"Defines if a Location may be published on a website or app etc.","nullable":true},"access_type":{"$ref":"#/components/schemas/GcpiAccessType"},"name":{"type":"string","description":"Display name of the location","nullable":true},"address":{"type":"string","description":"Street/block name and house number if available.","nullable":true},"address_line_2":{"type":"string","nullable":true},"city":{"type":"string","description":"City or Town","nullable":true},"postal_code":{"type":"string","description":"Postal code of Location","nullable":true},"country":{"type":"string","description":"ISO 3166-1 alpha-3 code for the country of this location.","nullable":true},"coordinates":{"$ref":"#/components/schemas/GcpiGeoLocation"},"evses":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvse"},"nullable":true},"directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"nullable":true},"facilities":{"type":"array","items":{"type":"string"},"description":"Optional list of facilities this charge location directly belongs to.","nullable":true},"operator":{"$ref":"#/components/schemas/GcpiBusinessDetails"},"suboperator":{"$ref":"#/components/schemas/GcpiBusinessDetails"},"owner":{"$ref":"#/components/schemas/GcpiBusinessDetails"},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"time_zone":{"type":"string","description":"One of IANA tzdata’s TZ-values representing the time zone of the location","nullable":true},"opening_times":{"$ref":"#/components/schemas/GcpiHours"},"charging_when_closed":{"type":"boolean","description":"Indicates if the EVSEs are still charging outside the opening hours of the location.","nullable":true},"energy_mix":{"$ref":"#/components/schemas/GcpiEnergyMix"},"custom_groups":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomGroup"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info for the Location","nullable":true},"remarks":{"type":"string","description":"General notes and remarks for the Location","nullable":true},"payment_provider":{"type":"string","description":"The contactless payment provider used","nullable":true},"wallet_id":{"type":"string","description":"the walled ID used for this charge station","nullable":true},"cpo_id":{"type":"string","description":"The CPO id.","nullable":true},"cpo_customer_external_id":{"type":"string","description":"The CPO customer id.","nullable":true},"etag":{"type":"string","nullable":true},"created_by":{"type":"string","description":"Username who created the object. Can be supplied during creation or updating, otherwise 'Not Provided' as default. If edited via the EvPortal, this will be propulatd from there.","nullable":true},"modified_by":{"type":"string","description":"Username of last modification of the object. Can be supplied during creation or updating, otherwise 'Not Provided' as default. If edited via the EvPortal, this will be propulatd from there.","nullable":true},"customised_fields":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomisedField"},"description":"These custom fields are intended for customer-specific implementations. Please do not use if this was not specifically discussed with your CSM.","nullable":true},"created":{"type":"string","description":"date when the Location was created","format":"date-time"},"modified":{"type":"string","description":"date when the Location was last modified","format":"date-time","nullable":true},"last_updated":{"type":"string","description":"date when the Location or any of the EVSEs was last modified","format":"date-time","nullable":true}},"additionalProperties":false},"GcpiLocationType":{"enum":["ON_STREET","PARKING_GARAGE","UNDERGROUND_GARAGE","PARKING_LOT","OTHER","UNKNOWN"],"type":"string","description":"The general type of the charge point location."},"GcpiOperatorDetails":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Operator name"},"website_url":{"type":"string","description":"Operator website URL","format":"uri","nullable":true},"phone_number":{"type":"string","description":"Operator phone number","nullable":true},"support_email":{"type":"string","description":"Operator support email address","format":"email","nullable":true},"logo_url":{"type":"string","description":"Operator logo URL","format":"uri","nullable":true},"logo_thumbnail_url":{"type":"string","description":"Operator logo thumbnail URL","format":"uri","nullable":true}},"additionalProperties":false},"GcpiParkingRestriction":{"enum":["EV_ONLY","PLUGGED","DISABLED","CUSTOMERS","MOTORCYCLES"],"type":"string"},"GcpiPatchChargeStation":{"required":["charge_station_id"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"Unique Charge Station id","nullable":true},"location_id":{"type":"string","description":"Location ID the Charge Station belongs to","nullable":true},"name":{"type":"string","description":"Custom Name of the Charge Station","nullable":true},"deploy_state":{"$ref":"#/components/schemas/GcpiChargeStationDeployState"},"installation_date":{"type":"string","description":"Installation date of the Charge Station","format":"date-time","nullable":true},"default_charge_station_reimbursement_tariff_id":{"type":"string","description":"the default reimbursement tariff for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_tariff_id":{"type":"string","description":"the default tariff id for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"description":"the default direction for the Charge station.","nullable":true},"default_charge_station_floor_level":{"type":"string","description":"the default floor for the Charge station.","nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info relating to the Charge Station","nullable":true},"remarks":{"type":"string","description":"Notes and general remarks relating to the Charge Station","nullable":true},"contactless_terminal_serial_number":{"type":"string","description":"Contactless terminal serial number (only if contactless terminal installed)","nullable":true},"contactless_terminal_auth_amount":{"type":"number","description":"Minimum pre-auth amount set","format":"double","nullable":true},"status_schedule":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvseStatusSchedule"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"contactless_type":{"type":"string","description":"contactless type used, currently only Payter and Nayax","nullable":true},"tap_to_stop":{"type":"boolean","description":"end the session with the same contactless card","nullable":true},"stop_on_parking":{"type":"boolean","description":"stop on parking detection","nullable":true},"dynamic_time_based_tariffs":{"type":"boolean","description":"search for DTB in the knowledge hub for details","nullable":true},"time_of_use_tariffs":{"type":"boolean","description":"search for ToU in the knowledge hub for details","nullable":true},"exclude_vat":{"type":"boolean","description":"search for VAT exemption in the knowledge hub for details","nullable":true},"charger_type":{"enum":["Public","Home","Business"],"type":"string","description":"The type of charge station. Only for Charge Stations on GreenFlux platform where value is configured. Optional and exact definition and use is CPO specific.","nullable":true},"etag":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiPatchLocation":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"Uniquely identifies the location within the CPOs platform (and suboperator platforms). This field can never be changed, modified or renamed.","nullable":true},"type":{"$ref":"#/components/schemas/GcpiLocationType"},"publish":{"type":"boolean","description":"Defines if a Location may be published on a website or app etc.","nullable":true},"access_type":{"$ref":"#/components/schemas/GcpiAccessType"},"name":{"type":"string","description":"Display name of the location","nullable":true},"address":{"type":"string","description":"Street/block name and house number if available.","nullable":true},"city":{"type":"string","description":"City or Town","nullable":true},"postal_code":{"type":"string","description":"Postal code of Location","nullable":true},"country":{"type":"string","description":"ISO 3166-1 alpha-3 code for the country of this location.","nullable":true},"coordinates":{"$ref":"#/components/schemas/GcpiGeoLocation"},"directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"facilities":{"type":"array","items":{"type":"string"},"description":"Optional list of facilities this charge location directly belongs to.","nullable":true},"opening_times":{"$ref":"#/components/schemas/GcpiHours"},"energy_mix":{"$ref":"#/components/schemas/GcpiEnergyMixProfileId"},"address_line_2":{"type":"string","nullable":true},"payment_provider":{"type":"string","description":"The contactless payment provider used","nullable":true},"wallet_id":{"type":"string","description":"the walled ID used for this charge station","nullable":true},"custom_groups":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomGroup"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info for the Location","nullable":true},"remarks":{"type":"string","description":"General notes and remarks for the Location","nullable":true},"customised_fields":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomisedField"},"description":"These custom fields are intended for customer-specific implementations. Please do not use if this was not specifically discussed with your CSM.","nullable":true},"cpo_id":{"type":"string","description":"The CPO id.","nullable":true},"cpo_customer_external_id":{"type":"string","description":"The CPO customer id.","nullable":true},"etag":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiPostChargeStation":{"required":["charge_station_id","location_id","deploy_state","default_charge_station_tariff_id","charger_type"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"Unique Charge Station id","nullable":true},"location_id":{"type":"string","description":"Location ID the Charge Station belongs to","nullable":true},"name":{"type":"string","description":"Custom Name of the Charge Station","nullable":true},"deploy_state":{"$ref":"#/components/schemas/GcpiChargeStationDeployState"},"installation_date":{"type":"string","description":"Installation date of the Charge Station","format":"date-time","nullable":true},"default_charge_station_reimbursement_tariff_id":{"type":"string","description":"the default reimbursement tariff for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_tariff_id":{"type":"string","description":"the default tariff id for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"description":"the default direction for the Charge station.","nullable":true},"default_charge_station_floor_level":{"type":"string","description":"the default floor for the Charge station.","nullable":true},"charge_station_template_id":{"type":"string","description":"Hardware template id used when creating or updating a CS. Not returned in a GET call.","nullable":true},"evses":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvse"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info relating to the Charge Station","nullable":true},"remarks":{"type":"string","description":"Notes and general remarks relating to the Charge Station","nullable":true},"contactless_terminal_serial_number":{"type":"string","description":"Contactless terminal serial number (only if contactless terminal installed)","nullable":true},"contactless_terminal_auth_amount":{"type":"number","description":"Minimum pre-auth amount set","format":"double","nullable":true},"status_schedule":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvseStatusSchedule"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"contactless_type":{"type":"string","description":"contactless type used, currently only Payter and Nayax","nullable":true},"tap_to_stop":{"type":"boolean","description":"end the session with the same contactless card","nullable":true},"stop_on_parking":{"type":"boolean","description":"Stop on Idle detection (previusly referred as 'Stop on Parking')","nullable":true},"dynamic_time_based_tariffs":{"type":"boolean","description":"search for DTB in the knowledge hub for details","nullable":true},"time_of_use_tariffs":{"type":"boolean","description":"search for ToU in the knowledge hub for details","nullable":true},"exclude_vat":{"type":"boolean","description":"search for VAT exemption in the knowledge hub for details","nullable":true},"charger_type":{"enum":["Public","Home","Business"],"type":"string","description":"The type of charge station. Only for Charge Stations on GreenFlux platform where value is configured. Optional and exact definition and use is CPO specific."}},"additionalProperties":false},"GcpiPostLocation":{"required":["cpo_id","name","address","city","postal_code","country"],"type":"object","properties":{"id":{"type":"string","description":"Uniquely identifies the location within the CPOs platform (and suboperator platforms). This field can never be changed, modified or renamed.","nullable":true},"cpo_id":{"type":"string","description":"The CPO id in which the Location is created. Case sensitive.","nullable":true},"cpo_customer_external_id":{"type":"string","description":"The CPO customer id in which the Location is created.","nullable":true},"type":{"$ref":"#/components/schemas/GcpiLocationType"},"publish":{"type":"boolean","description":"Defines if a Location may be published on a website or app etc.","nullable":true},"access_type":{"$ref":"#/components/schemas/GcpiAccessType"},"name":{"type":"string","description":"Display name of the location","nullable":true},"address":{"type":"string","description":"Street/block name and house number if available.","nullable":true},"city":{"type":"string","description":"City or Town","nullable":true},"postal_code":{"type":"string","description":"Postal code of Location","nullable":true},"country":{"type":"string","description":"ISO 3166-1 alpha-3 code for the country of this location.","nullable":true},"coordinates":{"$ref":"#/components/schemas/GcpiGeoLocation"},"directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"facilities":{"type":"array","items":{"type":"string"},"description":"Optional list of facilities this charge location directly belongs to.","nullable":true},"opening_times":{"$ref":"#/components/schemas/GcpiHours"},"energy_mix":{"$ref":"#/components/schemas/GcpiEnergyMixProfileId"},"address_line_2":{"type":"string","nullable":true},"payment_provider":{"type":"string","description":"The contactless payment provider used","nullable":true},"wallet_id":{"type":"string","description":"the walled ID used for this charge station","nullable":true},"custom_groups":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomGroup"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info for the Location","nullable":true},"remarks":{"type":"string","description":"General notes and remarks for the Location","nullable":true},"customised_fields":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomisedField"},"description":"These custom fields are intended for customer-specific implementations. Please do not use if this was not specifically discussed with your CSM.","nullable":true}},"additionalProperties":false},"GcpiProtocolVersion":{"enum":["Ocpp15","Ocpp15Soap","Ocpp16","Ocpp201"],"type":"string"},"GcpiPutChargeStation":{"required":["charge_station_id","location_id","deploy_state","default_charge_station_tariff_id","etag","charger_type"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"Unique Charge Station id","nullable":true},"location_id":{"type":"string","description":"Location ID the Charge Station belongs to","nullable":true},"name":{"type":"string","description":"Custom Name of the Charge Station","nullable":true},"deploy_state":{"$ref":"#/components/schemas/GcpiChargeStationDeployState"},"installation_date":{"type":"string","description":"Installation date of the Charge Station","format":"date-time","nullable":true},"default_charge_station_reimbursement_tariff_id":{"type":"string","description":"the default reimbursement tariff for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_tariff_id":{"type":"string","description":"the default tariff id for all Connectors. Valid unless overwritten at a Connector level.","nullable":true},"default_charge_station_directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"description":"the default direction for the Charge station.","nullable":true},"default_charge_station_floor_level":{"type":"string","description":"the default floor for the Charge station.","nullable":true},"evses":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvse"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info relating to the Charge Station","nullable":true},"remarks":{"type":"string","description":"Notes and general remarks relating to the Charge Station","nullable":true},"contactless_terminal_serial_number":{"type":"string","description":"Contactless terminal serial number (only if contactless terminal installed)","nullable":true},"contactless_terminal_auth_amount":{"type":"number","description":"Minimum pre-auth amount set","format":"double","nullable":true},"status_schedule":{"type":"array","items":{"$ref":"#/components/schemas/GcpiEvseStatusSchedule"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"contactless_type":{"type":"string","description":"contactless type used, currently only Payter and Nayax","nullable":true},"tap_to_stop":{"type":"boolean","description":"end the session with the same contactless card","nullable":true},"stop_on_parking":{"type":"boolean","description":"stop on parking detection","nullable":true},"dynamic_time_based_tariffs":{"type":"boolean","description":"search for DTB in the knowledge hub for details","nullable":true},"time_of_use_tariffs":{"type":"boolean","description":"search for ToU in the knowledge hub for details","nullable":true},"exclude_vat":{"type":"boolean","description":"search for VAT exemption in the knowledge hub for details","nullable":true},"charger_type":{"enum":["Public","Home","Business"],"type":"string","description":"The type of charge station. Only for Charge Stations on GreenFlux platform where value is configured. Optional and exact definition and use is CPO specific."},"charge_station_template_id":{"type":"string","description":"Hardware template id used when creating or updating a CS. Not returned in a GET call.","nullable":true},"etag":{"type":"string"}},"additionalProperties":false},"GcpiPutLocation":{"required":["cpo_id","id","name","address","city","postal_code","country","etag"],"type":"object","properties":{"id":{"type":"string","description":"Uniquely identifies the location within the CPOs platform (and suboperator platforms). This field can never be changed, modified or renamed.","nullable":true},"type":{"$ref":"#/components/schemas/GcpiLocationType"},"publish":{"type":"boolean","description":"Defines if a Location may be published on a website or app etc.","nullable":true},"access_type":{"$ref":"#/components/schemas/GcpiAccessType"},"name":{"type":"string","description":"Display name of the location","nullable":true},"address":{"type":"string","description":"Street/block name and house number if available.","nullable":true},"city":{"type":"string","description":"City or Town","nullable":true},"postal_code":{"type":"string","description":"Postal code of Location","nullable":true},"country":{"type":"string","description":"ISO 3166-1 alpha-3 code for the country of this location.","nullable":true},"coordinates":{"$ref":"#/components/schemas/GcpiGeoLocation"},"directions":{"type":"array","items":{"$ref":"#/components/schemas/GcpiDisplayText"},"nullable":true},"auth_rules":{"type":"array","items":{"$ref":"#/components/schemas/GcpiAuthRule"},"nullable":true},"facilities":{"type":"array","items":{"type":"string"},"description":"Optional list of facilities this charge location directly belongs to.","nullable":true},"opening_times":{"$ref":"#/components/schemas/GcpiHours"},"energy_mix":{"$ref":"#/components/schemas/GcpiEnergyMixProfileId"},"address_line_2":{"type":"string","nullable":true},"payment_provider":{"type":"string","description":"The contactless payment provider used","nullable":true},"wallet_id":{"type":"string","description":"the walled ID used for this charge station","nullable":true},"custom_groups":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomGroup"},"nullable":true},"maintenance_info":{"type":"string","description":"Maintenance info for the Location","nullable":true},"remarks":{"type":"string","description":"General notes and remarks for the Location","nullable":true},"customised_fields":{"type":"array","items":{"$ref":"#/components/schemas/GcpiCustomisedField"},"description":"These custom fields are intended for customer-specific implementations. Please do not use if this was not specifically discussed with your CSM.","nullable":true},"cpo_id":{"type":"string","description":"The CPO id.","nullable":true},"cpo_customer_external_id":{"type":"string","description":"The CPO customer id.","nullable":true},"etag":{"type":"string"}},"additionalProperties":false},"GcpiRegularHours":{"type":"object","properties":{"weekday":{"type":"integer","format":"int32"},"period_begin":{"type":"string","nullable":true},"period_end":{"type":"string","nullable":true}},"additionalProperties":false,"description":"Regular hours, weekday based. No values indicate 24/7 charging."},"OcpiStatusCode":{"enum":[1000,2000,2001,2002,2003,3000,3001,3002,3003],"type":"integer","format":"int32"}},"examples":{"CpoCustomer":{"value":{"cpo_id":"GreenFlux","external_Id":"MyCpoCustomer","properties":[{"name":"CustomPropertyA","value":"Custom Property A"},{"name":"CustomPropertyA","value":"Custom Property B"}],"operator_details":{"name":"Operator ABC","website_url":"https://www.operatorabc.com","phone_number":"+441234567890","support_email":"support@operatorabc.com","logo_url":"https://operatorabc.com/img/logo.jpg","logo_thumbnail_url":"https://operatorabc.com/img/logo_thumb.jpg"}}},"CpoCustomerCreateRequest":{"summary":"Create a CPO customer","value":{"name":"Example CPO Customer","cpo_id":"GreenFlux","external_id":"MyCpoCustomer","vat_number":"NL123456789B01","properties":[{"name":"CustomPropertyA","value":"Custom Property A"},{"name":"CustomPropertyB","value":"Custom Property B"}],"operator_details":{"name":"Operator ABC","website_url":"https://www.operatorabc.com","phone_number":"+441234567890","support_email":"support@operatorabc.com","logo_url":"https://www.operatorabc.com/img/logo.jpg","logo_thumbnail_url":"https://www.operatorabc.com/img/logo_thumb.jpg"}}},"CpoCustomerResponse":{"summary":"Successful CPO customer response","value":{"data":{"name":"Example CPO Customer","cpo_id":"GreenFlux","external_id":"MyCpoCustomer","vat_number":"NL123456789B01","properties":[{"name":"CustomPropertyA","value":"Custom Property A"},{"name":"CustomPropertyB","value":"Custom Property B"}],"operator_details":{"name":"Operator ABC","website_url":"https://www.operatorabc.com","phone_number":"+441234567890","support_email":"support@operatorabc.com","logo_url":"https://www.operatorabc.com/img/logo.jpg","logo_thumbnail_url":"https://www.operatorabc.com/img/logo_thumb.jpg"}},"status_code":"1000","status_message":"Success","timestamp":"2026-07-15T12:00:00Z"}},"CpoCustomersResponse":{"summary":"Successful CPO customer list response","value":{"data":[{"name":"Example CPO Customer","cpo_id":"GreenFlux","external_id":"MyCpoCustomer","vat_number":"NL123456789B01","properties":[{"name":"CustomPropertyA","value":"Custom Property A"}],"operator_details":{"name":"Operator ABC","website_url":"https://www.operatorabc.com","support_email":"support@operatorabc.com"}},{"name":"Second Example CPO Customer","cpo_id":"GreenFlux","external_id":"MySecondCpoCustomer","properties":[],"operator_details":{"name":"Operator XYZ"}}],"status_code":"1000","status_message":"Success","timestamp":"2026-07-15T12:00:00Z"}},"CpoCustomerUpdateRequest":{"summary":"Update a CPO customer","description":"cpo_id and external_id are supplied in the request path and are therefore omitted from this example.\n","value":{"name":"Updated Example CPO Customer","vat_number":"NL123456789B01","properties":[{"name":"CustomPropertyA","value":"Updated custom property"}],"operator_details":{"name":"Operator ABC","website_url":"https://www.operatorabc.com","phone_number":"+441234567890","support_email":"support@operatorabc.com","logo_url":"https://www.operatorabc.com/img/logo.jpg","logo_thumbnail_url":"https://www.operatorabc.com/img/logo_thumb.jpg"}}},"ErrorCodePost":{"value":{"timestamp":"2022-10-04T08:25:30Z","status_code":"2000","status_message":"Error message describing the error"}},"ErrorCodePutCS":{"value":{"data":[{"charge_station_id":"ExampleChargeStation","location_id":"aa3e3cf2-8a10-4ab8-952a-3255ef8c7296","name":"Greenflux Sample ChargeStation","deploy_state":"Production","installation_date":"2021-01-27T00:00:00","default_charge_station_tariff_id":"A0","default_charge_station_reimbursement_tariff_id":"A1","default_charge_station_directions":[{"language":"en","text":"cs directions"}],"default_charge_station_floor_level":"1","evses":[{"uid":"NL-GFX-EExampleChargeStation-1","evse_id":"NL-GFX-EExampleChargeStation-1","status":"AVAILABLE","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-05-27T14:11:00Z","reimbursement_tariff_id":""}],"coordinates":{"latitude":"52.346480","longitude":"4.921990"},"directions":[],"parking_restrictions":["Customers"],"last_updated":"2022-05-27T14:11:00Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EExampleChargeStation-2","evse_id":"NL-GFX-EExampleChargeStation-2","status":"AVAILABLE","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-06-08T15:07:19Z","reimbursement_tariff_id":""}],"coordinates":{"latitude":"52.346480","longitude":"4.921990"},"directions":[],"parking_restrictions":["Customers"],"last_updated":"2022-06-08T15:07:19Z","evse_sequence_number":"2"}],"directions":[{"language":"en","text":"Directions to charge station"}],"maintenance_info":"Maintenance Information","remarks":"remarks","status_schedule":[{"period_begin":"2022-08-17T08:00:00Z","period_end":"2022-08-17T18:00:00Z","status":"OUTOFORDER","status_message":"Scheduled Maintenance"}],"auth_rules":[{"type":"CustomerExternalId","value":"customer1"},{"type":"CustomerExternalId","value":"customer2"},{"type":"ClosedGroups","value":"token1"},{"type":"ClosedGroups","value":"token2"},{"type":"HomeToken","value":"token1"},{"type":"HomeToken","value":"token2"}],"contactless_type":"Payter","contactless_terminal_serial_number":"P6X20203430606","contactless_terminal_auth_amount":"1.25","tap_to_stop":"true","stop_on_parking":"true","charger_type":"Public","charge_station_template_id":"GUID","etag":"a4226211-202c-4e58-b6d4-c302b3b7afbd","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","created":"2020-03-27T15:09:15.58","modified":"2022-08-17T12:32:22.77","heartbeat_interval":"120","charge_point_model":"Dual Power","charge_point_vendor":"Alfen","charge_point_serial_number":"511845324534324383","charge_box_serial_number":"51184532452343483","client_ip_address":"95.128.10.19","firmware_version":"2.1.4.0","iccid":"8945232341876536","imsi":"23802623232653","meter_serial_number":"unknown","meter_type":"unknown","remote_manageable":"true","connectivity_status":"Online","protocol_version":"Ocpp16","endpoint":"ws://ocpp-public-a.greenflux.com"}],"timestamp":"2022-10-04T08:25:30Z","status_code":"2000","status_message":"Error message describing the error"}},"FullChargeStationObject":{"value":{"data":{"charge_station_id":"ExampleChargeStation","location_id":"aa3e3cf2-8a10-4ab8-952a-3255ef8c7296","name":"Greenflux Sample ChargeStation","deploy_state":"Production","installation_date":"2021-01-27T00:00:00","default_charge_station_tariff_id":"A0","default_charge_station_reimbursement_tariff_id":"A1","default_charge_station_directions":[{"language":"en","text":"cs directions"}],"default_charge_station_floor_level":"1","evses":[{"uid":"NL-GFX-EExampleChargeStation-1","evse_id":"NL-GFX-EExampleChargeStation-1","status":"AVAILABLE","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-05-27T14:11:00Z","reimbursement_tariff_id":""}],"coordinates":{"latitude":"52.346480","longitude":"4.921990"},"directions":[],"parking_restrictions":["Customers"],"last_updated":"2022-05-27T14:11:00Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EExampleChargeStation-2","evse_id":"NL-GFX-EExampleChargeStation-2","status":"AVAILABLE","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-06-08T15:07:19Z","reimbursement_tariff_id":""}],"coordinates":{"latitude":"52.346480","longitude":"4.921990"},"directions":[],"parking_restrictions":["Customers"],"last_updated":"2022-06-08T15:07:19Z","evse_sequence_number":"2"}],"directions":[{"language":"en","text":"Directions to charge station"}],"maintenance_info":"Maintenance Information","remarks":"remarks","status_schedule":[{"period_begin":"2022-08-17T08:00:00Z","period_end":"2022-08-17T18:00:00Z","status":"OUTOFORDER","status_message":"Scheduled Maintenance"}],"auth_rules":[{"type":"CustomerExternalId","value":"customer1"},{"type":"CustomerExternalId","value":"customer2"},{"type":"ClosedGroups","value":"token1"},{"type":"ClosedGroups","value":"token2"},{"type":"HomeToken","value":"token1"},{"type":"HomeToken","value":"token2"}],"contactless_type":"Payter","contactless_terminal_serial_number":"P6X20203430606","contactless_terminal_auth_amount":"1.25","tap_to_stop":"true","stop_on_parking":"true","grid_connection_id":"ITXBFXLMXNNIPCFHI","exclude_vat":"false","time_of_use_tariffs":"false","dynamic_time_based_tariffs":"false","charger_type":"Public","charge_station_template_id":"GUID","etag":"a4226211-202c-4e58-b6d4-c302b3b7afbd","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","created":"2020-03-27T15:09:15.58","modified":"2022-08-17T12:32:22.77","status":"AVAILABLE","charging_speed":"Slow","heartbeat_interval":"120","charge_point_model":"Dual Power","charge_point_vendor":"Alfen","charge_point_serial_number":"511845324534324383","charge_box_serial_number":"51184532452343483","client_ip_address":"95.128.10.19","firmware_version":"2.1.4.0","iccid":"8945232341876536","imsi":"23802623232653","meter_serial_number":"unknown","meter_type":"unknown","remote_manageable":"true","connectivity_status":"Online","protocol_version":"Ocpp16","endpoint":"ws://ocpp-public-a.greenflux.com"},"timestamp":"2022-10-04T08:25:30Z","status_code":"1000","status_message":"Succes"}},"FullLocationobject":{"value":{"data":{"id":"2b4e0cba-08e6-49a6-8c4c-fa357ce576c3","type":"ON_STREET","publish":"true","access_type":"PUBLIC","name":"Sample Location Name","address":"Street and house number","address_line_2":"Address line 2","city":"City","postal_code":"Postal Code","country":"NLD","coordinates":{"latitude":"52.379290","longitude":"4.926500"},"evses":[{"uid":"NL-GFX-EExampleChargeStation-1","evse_id":"NL-GFX-EExampleChargeStation-1","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":"230","amperage":"16","max_electric_power":"10000","tariff_id":"A1","last_updated":"2022-09-22T13:28:12Z","reimbursement_tariff_id":"B1"}],"floor_level":"1st","coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:28:12Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EExampleChargeStation-2","evse_id":"NL-GFX-EExampleChargeStation-2","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"16","max_electric_power":"350000","tariff_id":"A1","last_updated":"2022-09-22T13:28:12Z","reimbursement_tariff_id":"B2"}],"floor_level":"1st","coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:28:12Z","evse_sequence_number":"2"},{"uid":"NL-GFX-EThomasTestCreateApi2-1","evse_id":"NL-GFX-EThomasTestCreateApi2-1","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READERE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-09-22T13:31:10Z"}],"coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:31:10Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EThomasTestCreateApi2-2","evse_id":"NL-GFX-EThomasTestCreateApi2-2","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-09-22T13:31:10Z"}],"coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:31:10Z","evse_sequence_number":"2"}],"directions":[{"language":"en","text":"Directions to location"}],"operator":{"name":"Greenflux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"suboperator":{"name":"Greenflux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"}},"auth_rules":[{"type":"CustomerExternalId","value":"customer1"},{"type":"CustomerExternalId","value":"customer2"},{"type":"ClosedGroups","value":"token1"},{"type":"ClosedGroups","value":"token2"}],"owner":{"name":"GreenFlux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"facilities":["HOTEL","RECREATION_AREA","BUS_STOP","SUPERMARKET","MUSEUM"],"time_zone":"W. Europe Standard Time","opening_times":{"regular_hours":[{"weekday":"5","period_begin":"00:00","period_end":"23:59"},{"weekday":"4","period_begin":"00:00","period_end":"23:59"},{"weekday":"3","period_begin":"00:00","period_end":"23:59"},{"weekday":"2","period_begin":"00:00","period_end":"23:59"},{"weekday":"1","period_begin":"00:00","period_end":"23:59"}],"twenty_four_seven":"false","exceptional_openings":[],"exceptional_closings":[{"period_begin":"2022-08-19T08:00:00.655","period_end":"2022-08-19T18:00:00.655"}]},"energy_mix":{"energy_mix_profile_id":"9f39b48e-9507-4e2d-9d53-71c49e39cb2a","energy_product_name":"energy product name ","energy_sources":[{"percentage":"50","source":"WATER"},{"percentage":"50","source":"SOLAR"}],"environ_impact":[{"amount":"259","source":"CARBON_DIOXIDE"},{"amount":"295","source":"NUCLEAR_WASTE"}],"is_green_energy":"false","supplier_name":"Energy Supplier"},"payment_provider":"Lemonway","wallet_id":"WalletID","custom_groups":[{"name":"custom group name"}],"maintenance_info":"Maintenance Information","remarks":"Notes","cpo_id":"GreenFlux","etag":"16ba9bca-ad59-4876-bf61-f9693578f99a","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","customised_fields":[{"type":"string","value":"string"}],"created":"2020-05-26T13:57:11.683Z","modified":"2022-06-28T09:53:21.743Z","last_updated":"2022-08-17T12:32:22.77Z"},"timestamp":"2022-10-04T08:25:30Z","status_code":"1000","status_message":"Success"}},"FullLocationobjectError":{"value":{"data":{"id":"2b4e0cba-08e6-49a6-8c4c-fa357ce576c3","type":"ON_STREET","publish":"true","access_type":"PUBLIC","name":"Sample Location Name","address":"Street and house number","address_line_2":"Address line 2","city":"City","postal_code":"Postal Code","country":"NLD","coordinates":{"latitude":"52.379290","longitude":"4.926500"},"evses":[{"uid":"NL-GFX-EExampleChargeStation-1","evse_id":"NL-GFX-EExampleChargeStation-1","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":"230","amperage":"16","max_electric_power":"10000","tariff_id":"A1","last_updated":"2022-09-22T13:28:12Z","reimbursement_tariff_id":"B1"}],"floor_level":"1st","coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:28:12Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EExampleChargeStation-2","evse_id":"NL-GFX-EExampleChargeStation-2","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"16","max_electric_power":"350000","tariff_id":"A1","last_updated":"2022-09-22T13:28:12Z","reimbursement_tariff_id":"B2"}],"floor_level":"1st","coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:28:12Z","evse_sequence_number":"2"},{"uid":"NL-GFX-EThomasTestCreateApi2-1","evse_id":"NL-GFX-EThomasTestCreateApi2-1","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READERE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-09-22T13:31:10Z"}],"coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:31:10Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EThomasTestCreateApi2-2","evse_id":"NL-GFX-EThomasTestCreateApi2-2","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-09-22T13:31:10Z"}],"coordinates":{"latitude":"52.347270","longitude":"4.922410"},"directions":[],"parking_restrictions":[],"last_updated":"2022-09-22T13:31:10Z","evse_sequence_number":"2"}],"directions":[{"language":"en","text":"Directions to location"}],"operator":{"name":"Greenflux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"suboperator":{"name":"Greenflux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"auth_rules":[{"type":"CustomerExternalId","value":"customer1"},{"type":"CustomerExternalId","value":"customer2"},{"type":"ClosedGroups","value":"token1"},{"type":"ClosedGroups","value":"token2"}],"owner":{"name":"GreenFlux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"facilities":["HOTEL","RECREATION_AREA","BUS_STOP","SUPERMARKET","MUSEUM"],"time_zone":"W. Europe Standard Time","opening_times":{"regular_hours":[{"weekday":"5","period_begin":"00:00","period_end":"23:59"},{"weekday":"4","period_begin":"00:00","period_end":"23:59"},{"weekday":"3","period_begin":"00:00","period_end":"23:59"},{"weekday":"2","period_begin":"00:00","period_end":"23:59"},{"weekday":"1","period_begin":"00:00","period_end":"23:59"}],"twenty_four_seven":"false","exceptional_openings":[],"exceptional_closings":[{"period_begin":"2022-08-19T08:00:00.655","period_end":"2022-08-19T18:00:00.655"}]},"energy_mix":{"energy_mix_profile_id":"9f39b48e-9507-4e2d-9d53-71c49e39cb2a","energy_product_name":"energy product name ","energy_sources":[{"percentage":"50","source":"WATER"},{"percentage":"50","source":"SOLAR"}],"environ_impact":[{"amount":"259","source":"CARBON_DIOXIDE"},{"amount":"295","source":"NUCLEAR_WASTE"}],"is_green_energy":"false","supplier_name":"Energy Supplier"},"payment_provider":"Lemonway","wallet_id":"WalletID","custom_groups":[{"name":"custom group name"}],"maintenance_info":"Maintenance Information","remarks":"Notes","cpo_id":"GreenFlux","etag":"16ba9bca-ad59-4876-bf61-f9693578f99a","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","created":"2020-05-26T13:57:11.683Z","modified":"2022-06-28T09:53:21.743Z","last_updated":"2022-08-17T12:32:22.77Z"},"timestamp":"2022-10-04T08:25:30Z","status_code":"2000","status_message":"Example Error message - CPO id not provided, and is a required field"}},"FullSingleChargeStationObjectResponse":{"value":{"data":{"charge_station_id":"ExampleChargeStation","location_id":"aa3e3cf2-8a10-4ab8-952a-3255ef8c7296","name":"Greenflux Sample ChargeStation","deploy_state":"Production","installation_date":"2021-01-27T00:00:00","default_charge_station_tariff_id":"A0","default_charge_station_reimbursement_tariff_id":"A1","default_charge_station_directions":[{"language":"en","text":"cs directions"}],"default_charge_station_floor_level":"1","evses":[{"uid":"NL-GFX-EExampleChargeStation-1","evse_id":"NL-GFX-EExampleChargeStation-1","status":"AVAILABLE","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-05-27T14:11:00Z","reimbursement_tariff_id":""}],"coordinates":{"latitude":"52.346480","longitude":"4.921990"},"directions":[],"parking_restrictions":["Customers"],"last_updated":"2022-05-27T14:11:00Z","evse_sequence_number":"1"},{"uid":"NL-GFX-EExampleChargeStation-2","evse_id":"NL-GFX-EExampleChargeStation-2","status":"AVAILABLE","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":"230","amperage":"32","max_electric_power":"22000","tariff_id":"A1","last_updated":"2022-06-08T15:07:19Z","reimbursement_tariff_id":""}],"coordinates":{"latitude":"52.346480","longitude":"4.921990"},"directions":[],"parking_restrictions":["Customers"],"last_updated":"2022-06-08T15:07:19Z","evse_sequence_number":"2"}],"directions":[{"language":"en","text":"Directions to charge station"}],"maintenance_info":"Maintenance Information","remarks":"remarks","status_schedule":[{"period_begin":"2022-08-17T08:00:00Z","period_end":"2022-08-17T18:00:00Z","status":"OUTOFORDER","status_message":"Scheduled Maintenance"}],"auth_rules":[{"type":"CustomerExternalId","value":"customer1"},{"type":"CustomerExternalId","value":"customer2"},{"type":"ClosedGroups","value":"token1"},{"type":"ClosedGroups","value":"token2"},{"type":"HomeToken","value":"token1"},{"type":"HomeToken","value":"token2"}],"contactless_type":"Payter","contactless_terminal_serial_number":"P6X20203430606","contactless_terminal_auth_amount":"1.25","tap_to_stop":"true","stop_on_parking":"true","exclude_vat":"false","time_of_use_tariffs":"false","dynamic_time_based_tariffs":"false","charger_type":"Public","charge_station_template_id":"GUID","etag":"a4226211-202c-4e58-b6d4-c302b3b7afbd","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","created":"2020-03-27T15:09:15.58","modified":"2022-08-17T12:32:22.77","status":"AVAILABLE","charging_speed":"Slow","heartbeat_interval":"120","charge_point_model":"Dual Power","charge_point_vendor":"Alfen","charge_point_serial_number":"511845324534324383","charge_box_serial_number":"51184532452343483","client_ip_address":"95.128.10.19","firmware_version":"2.1.4.0","iccid":"8945232341876536","imsi":"23802623232653","meter_serial_number":"unknown","meter_type":"unknown","remote_manageable":"true","connectivity_status":"Online","protocol_version":"Ocpp16","endpoint":"ws://ocpp-public-a.greenflux.com"},"timestamp":"2022-10-04T08:25:30Z","status_code":"1000","status_message":"Succes"}},"LocationResponseExclEvses":{"value":{"data":[{"id":"2b4e0cba-08e6-49a6-8c4c-fa357ce576c3","type":"ON_STREET","publish":"true","access_type":"PUBLIC","name":"Sample Location Name","address":"Street and house number","address_line_2":"Address line 2","city":"City","postal_code":"Postal Code","country":"NLD","coordinates":{"latitude":"52.379290","longitude":"4.926500"},"evses":[],"directions":[{"language":"en","text":"Directions to location"}],"operator":{"name":"Greenflux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"suboperator":{"name":"Greenflux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"auth_rules":[{"type":"CustomerExternalId","value":"customer1"},{"type":"CustomerExternalId","value":"customer2"},{"type":"ClosedGroups","value":"token1"},{"type":"ClosedGroups","value":"token2"}],"owner":{"name":"GreenFlux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"facilities":["HOTEL","RECREATION_AREA","BUS_STOP","SUPERMARKET","MUSEUM"],"time_zone":"W. Europe Standard Time","opening_times":{"regular_hours":[{"weekday":"5","period_begin":"00:00","period_end":"23:59"},{"weekday":"4","period_begin":"00:00","period_end":"23:59"},{"weekday":"3","period_begin":"00:00","period_end":"23:59"},{"weekday":"2","period_begin":"00:00","period_end":"23:59"},{"weekday":"1","period_begin":"00:00","period_end":"23:59"}],"twenty_four_seven":"false","exceptional_openings":[],"exceptional_closings":[{"period_begin":"2022-08-19T08:00:00.655","period_end":"2022-08-19T18:00:00.655"}]},"energy_mix":{"energy_mix_profile_id":"9f39b48e-9507-4e2d-9d53-71c49e39cb2a","energy_product_name":"energy product name ","energy_sources":[{"percentage":"50","source":"WATER"},{"percentage":"50","source":"SOLAR"}],"environ_impact":[{"amount":"259","source":"CARBON_DIOXIDE"},{"amount":"295","source":"NUCLEAR_WASTE"}],"is_green_energy":"false","supplier_name":"Energy Supplier"},"payment_provider":"Lemonway","wallet_id":"WalletID","custom_groups":[{"name":"custom group name"}],"maintenance_info":"Maintenance Information","remarks":"Notes","cpo_id":"GreenFlux","etag":"16ba9bca-ad59-4876-bf61-f9693578f99a","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","customised_fields":[{"type":"string","value":"string"}],"created":"2020-05-26T13:57:11.683Z","modified":"2022-06-28T09:53:21.743Z","last_updated":"2022-08-17T12:32:22.77Z"}],"timestamp":"2022-10-04T08:25:30Z","status_code":"1000","status_message":"Success"}},"LocationResponseMinimumfieldsandnoEVSEs":{"value":{"data":[{"id":"E10A08DA-90C5-47D1-91AB-E35F72211623","publish":"false","access_type":"PRIVATE","name":"Sample Location Name","address":"Street and house number","city":"City","postal_code":"Postal Code","country":"NLD","coordinates":{"latitude":"52.379290","longitude":"4.926500"},"evses":[],"directions":[],"operator":{"name":"GreenFlux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"suboperator":{"name":"GreenFlux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"auth_rules":[],"owner":{"name":"GreenFlux","website":"https://www.greenflux.com/help","logo":{"url":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","thumbnail":"https://www.greenflux.com/wp-content/uploads/greenflux-ev-charging-cloud-platform-logo-175.png","category":"OPERATOR","type":"png"},"phone_number":"+3120123456789"},"facilities":[],"time_zone":"Romance Standard Time","opening_times":{"regular_hours":[],"twentyfourseven":"true","exceptional_openings":[],"exceptional_closings":[]},"custom_groups":[],"cpo_id":"GreebFlux","etag":"3d74429b-ddf9-49e6-828c-e33459702641","created_by":"John.Smit@company.com","modified_by":"John.Smit@company.com","created":"2022-10-02T20:29:13Z","modified":"2022-10-02T20:29:13Z","last_updated":"2022-10-02T20:29:13Z"}],"timestamp":"2022-10-03T08:25:30Z","status_code":"1000","status_message":"Success"}},"LocationResponseTwoCSInclEFVSE":{"value":{"data":[{"id":"2b4e0cba-08e6-49a6-8c4c-fa357ce576c3","type":"ON_STREET","publish":"true","access_type":"PUBLIC","name":"Sample Location Name","address":"Street and house number","address_line_2":"Address line 2","city":"City","postal_code":"Postal Code","country":"NLD","coordinates":{"latitude":"52.379290","longitude":"4.926500"},"evses":[{"uid":"NL-GFX-EExampleChargeStation-1","evse_id":"NL-GFX-EExampleChargeStation-1","status":"UNKNOWN","status_schedule":[],"capabilities":["CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":"230","amperage":"16","max_electric_power":"10000","tariff_id":"A1","last_updated":"2022-0
[...]
