{"openapi":"3.0.1","info":{"title":"Greenflux Service","version":"1.0"},"servers":[{"url":"https://platform-a.greenflux.com","description":"Acceptance server (uses test data)"},{"url":"https://platform.greenflux.com","description":"Production server (uses real data)"}],"paths":{"/api/{versionNumber}/cdrs":{"get":{"tags":["CDRs"],"summary":"Get CDRs","description":"Get CDRs belonging to the owner, either CPO or EMSP. CDRs are usually available near real-time. The maximum number of records to return in the response is 1000. You should use the link value in the response header to fetch next pages.\n\n**Pagination:**\n- Version 1.0: Uses offset-based pagination with the `offset` parameter\n- Version 2.0: Uses token-based pagination with the `continuationToken` parameter\n","operationId":"Cdrs_PlatformGetCdrs","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"enum":["1.0","2.0"],"type":"string","default":"1.0"}},{"name":"date_from","in":"query","description":"Only return CDRs that have last_updated after or equal to this Date/Time (inclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return CDRs that have last_updated up to this Date/Time, but not including (exclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 1000. Also the maximum limit is 1000 records. If you set a bigger number than 1000, we only returns maximum of 1000 records in the response.","schema":{"type":"integer","format":"int32","default":1000}},{"name":"offset","in":"query","description":"[Version 1.0 only] The offset of the first object returned. Default is 0. This parameter is not available in version 2.0, use continuationToken instead.","schema":{"type":"integer","format":"int32","default":0},"x-version":"1.0"},{"name":"continuation_token","in":"query","description":"[Version 2.0 only] Continuation token for pagination. Use the token from the previous response to get the next page of results. This parameter is not available in version 1.0, use offset instead.","schema":{"type":"string"},"x-version":"2.0"}],"responses":{"200":{"description":"Success","headers":{"Link":{"description":"[Version 2.0 only] URL to retrieve the next page of CDRs. Only present when there are more results available. This header is not available in version 1.0.","schema":{"type":"string","example":"</api/2.0/cdrs?continuation_token=abc123xyz>; rel=\"next\""},"x-version":"2.0"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdrResponse"},"examples":{"CDR example (standard)":{"value":{"data":{"id":"750466ACFB534ECFB8CE24EE338EC4B9","start_date_time":"2023-05-31T08:52:26.0000000+00:00","stop_date_time":"2023-05-31T10:02:15.0000000+00:00","auth_id":"PT-EDP-CVA052345-1","token_uid":"PTEDP4638727494","token_visual_number":"PT-EDP-4638727494","auth_method":"WHITELIST","location":{"id":"39c53572-6c24-437e-953a-6646836c3f9f","type":"OTHER","publish":true,"name":"Teste Jorge Ansiao","address":"Avenida Dr Vitor Faveiro 2","city":"Ansiao","postal_code":"3240","country":"PRT","coordinates":{"latitude":"39.913401","longitude":"-8.438951"},"evses":[{"uid":"PT-EDP-ETest-Charger-GFXOffi-1","evse_id":"PT*EDP*ETest*Charger*GFXOffi*1","status":"CHARGING","status_schedule":[],"capabilities":["REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_1_PHASE","voltage":230,"amperage":16,"max_electric_power":7400,"tariff_id":"Test-ToU-EDP-17Apr","last_updated":"2023-05-26T12:27:38.0000000+00:00"}],"directions":[],"parking_restrictions":[],"last_updated":"2023-05-31T08:52:37.0000000+00:00"}],"directions":[],"operator":{"name":"EDP Comercial"},"suboperator":{"name":"EDP Comercial"},"auth_rules":[],"owner":{"name":"EDP Comercial"},"facilities":["RESTAURANT","CAFE","SUPERMARKET","NATURE","BUS_STOP","WIFI"],"time_zone":"Europe/Lisbon","opening_times":{"regular_hours":[{"weekday":7,"period_begin":"2024-07-22T09:00:00.0000000+02:00","period_end":"2024-07-22T10:00:00.0000000+02:00"},{"weekday":6,"period_begin":"2024-07-22T08:00:00.0000000+02:00","period_end":"2024-07-22T09:00:00.0000000+02:00"},{"weekday":5,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":4,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":3,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":2,"period_begin":"2024-07-22T12:00:00.0000000+02:00","period_end":"2024-07-22T13:59:00.0000000+02:00"},{"weekday":1,"period_begin":"2024-07-22T10:00:00.0000000+02:00","period_end":"2024-07-22T11:59:00.0000000+02:00"}],"twentyfourseven":false},"last_updated":"2023-05-31T08:52:37.0000000+00:00"},"currency":"EUR","charging_periods":[{"start_date_time":"2023-05-31T09:30:01.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.194},{"type":"TIME","volume":14.9833},{"type":"ENERGY","volume":0.194},{"type":"TIME","volume":14.9833}]},{"start_date_time":"2023-05-31T09:45:00.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.261},{"type":"TIME","volume":15.0167},{"type":"ENERGY","volume":0.261},{"type":"TIME","volume":15.0167}]},{"start_date_time":"2023-05-31T10:00:01.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.058},{"type":"TIME","volume":2.2333},{"type":"ENERGY","volume":0.058},{"type":"TIME","volume":2.2333}]},{"start_date_time":"2023-05-31T08:52:26.0000000+00:00","dimensions":[{"type":"PARKING_TIME","volume":7.5833},{"type":"PARKING_TIME","volume":7.5833}]},{"start_date_time":"2023-05-31T09:00:01.0000000+00:00","dimensions":[{"type":"PARKING_TIME","volume":15},{"type":"PARKING_TIME","volume":15}]},{"start_date_time":"2023-05-31T09:15:01.0000000+00:00","dimensions":[{"type":"PARKING_TIME","volume":15},{"type":"PARKING_TIME","volume":15}]}],"total_cost":14.23,"total_cost_incl_vat":17.5,"total_vat":3.27,"total_energy":0.529,"total_time":1.1636,"total_parking_time":0.6264,"last_updated":"2023-05-31T10:02:25.0000000+00:00","total_retail_cost":14.23,"total_retail_cost_incl_vat":17.5,"total_retail_vat":3.27,"reimbursement_tariff_code":"REIMB-BASE","retail_package_id":"CT_4KBRPNH0BFEV7LB7DMB9AB3KLE","customer_external_id":"PT-EDP-199965854","driver_external_id":"PT-EDP-199965854","emsp_party_id":"EDP","emsp_country_code":"PT","emsp_external_id":"ptedp","vat":23,"retail_vat":23,"charger_type":"Business"},"status_code":1000,"status_message":"Success","timestamp":"2021-07-15T14:44:31.0000000+00:00"}},"CDR example (with cost breakdown)":{"value":{"data":{"id":"81B934CED41D424581697B52AD1098ED","start_date_time":"2023-09-26T10:50:01.0000000+00:00","stop_date_time":"2023-09-26T10:54:54.0000000+00:00","auth_id":"PT-GFX-C22DE23S1-6","token_uid":"C22DE23S1","token_visual_number":"PT-GFX-C22DE23S1","auth_method":"WHITELIST","location":{"id":"39c53572-6c24-437e-953a-6646836c3f9f","type":"OTHER","publish":true,"name":"Teste Jorge Ansiao","address":"Avenida Dr Vitor Faveiro 2","city":"Ansiao","postal_code":"3240","country":"PRT","coordinates":{"latitude":"39.913401","longitude":"-8.438951"},"evses":[{"uid":"PT-GFX-ETST-CHR-GFX-2-1","evse_id":"PT*GFX*ETST*CHR*GFX*2*1","status":"CHARGING","status_schedule":[],"capabilities":["REMOTE_START_STOP_CAPABLE","RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":230,"amperage":25,"max_electric_power":17300,"tariff_id":"TST-Jorge-E","last_updated":"2023-09-26T10:54:14.0000000+00:00"}],"directions":[],"parking_restrictions":[],"last_updated":"2023-09-26T10:54:14.0000000+00:00"}],"directions":[],"operator":{"name":"GFX Comercial"},"suboperator":{"name":"GFX Comercial"},"auth_rules":[],"owner":{"name":"GFX Comercial"},"facilities":["RESTAURANT","CAFE","SUPERMARKET","NATURE","BUS_STOP","WIFI"],"time_zone":"Europe/Lisbon","opening_times":{"regular_hours":[{"weekday":7,"period_begin":"2024-07-22T09:00:00.0000000+02:00","period_end":"2024-07-22T10:00:00.0000000+02:00"},{"weekday":6,"period_begin":"2024-07-22T08:00:00.0000000+02:00","period_end":"2024-07-22T09:00:00.0000000+02:00"},{"weekday":5,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":4,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":3,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":2,"period_begin":"2024-07-22T12:00:00.0000000+02:00","period_end":"2024-07-22T13:59:00.0000000+02:00"},{"weekday":1,"period_begin":"2024-07-22T10:00:00.0000000+02:00","period_end":"2024-07-22T11:59:00.0000000+02:00"}],"twentyfourseven":false},"last_updated":"2023-09-26T10:54:14.0000000+00:00"},"currency":"EUR","charging_periods":[{"start_date_time":"2023-09-26T10:50:01.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.08},{"type":"TIME","volume":4.8833}]}],"charging_periods_retail":[{"start_date_time":"2023-09-26T10:50:01.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.08},{"type":"TIME","volume":4.8833}]}],"charging_periods_reimbursement":[],"total_cost":0,"total_cost_incl_vat":0,"total_vat":0,"total_energy":0.08,"total_time":0.0814,"total_parking_time":0,"last_updated":"2023-09-26T10:54:57.0000000+00:00","total_retail_cost":0,"total_retail_cost_incl_vat":0,"total_retail_vat":0,"reimbursement_tariff_code":"REIMB-BASE","retail_package_id":"CT_4KBRPNH0BFEV7LB7DMB9AB3KLE","customer_external_id":"TST-Jorge-customer","driver_external_id":"TST-Jorge-customer","emsp_party_id":"GFX","emsp_country_code":"PT","emsp_external_id":"ptgfx","vat":23,"retail_vat":23,"charger_type":"Business","coupons_compensated_costs":0,"cost_breakdown":[{"tariff_id":"A0","start_date_time":"2023-09-26T10:50:01.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.08,"dimension_details":"METER","price":0,"cost":0},{"type":"TIME","volume":4.88333333,"dimension_details":"METER","price":0,"cost":0}]}],"cost_breakdown_retail":[{"tariff_id":"A0","start_date_time":"2023-09-26T10:50:01.0000000+00:00","dimensions":[{"type":"ENERGY","volume":0.08,"dimension_details":"METER","price":0,"cost":0},{"type":"TIME","volume":4.88333333,"dimension_details":"METER","price":0,"cost":0}]}],"cost_breakdown_reimbursement":[],"status_code":1000,"status_message":"Success","timestamp":"2023-09-26T10:58:56.0000000+00:00"}}}}}}}}}},"/api/{versionNumber}/cdrs/{emspId}":{"get":{"tags":["CRM"],"summary":"Get CDRs by eMSP ID","description":"Get CDRs generated by Charge Station belonging to the CPO and where the Driver is associated with a specific eMSP.\n\n**Pagination:**\n- Version 1.0: Uses offset-based pagination with the `offset` parameter\n- Version 2.0: Uses token-based pagination with the `continuationToken` parameter\n","operationId":"Cdrs_GetCdrsByEmspId","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"enum":["1.0","2.0"],"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"date_from","in":"query","description":"Only return CDRs that have last_updated after or equal to this Date/Time (inclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return CDRs that have last_updated up to this Date/Time, but not including (exclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"[Version 1.0 only] The offset of the first object returned. Default is 0. This parameter is not available in version 2.0, use continuationToken instead.","schema":{"type":"integer","format":"int32","default":0},"x-version":"1.0"},{"name":"continuation_token","in":"query","description":"[Version 2.0 only] Continuation token for pagination. Use the token from the previous response to get the next page of results. This parameter is not available in version 1.0, use offset instead.","schema":{"type":"string"},"x-version":"2.0"}],"responses":{"200":{"description":"Success","headers":{"Link":{"description":"[Version 2.0 only] URL to retrieve the next page of CDRs. Only present when there are more results available. This header is not available in version 1.0.","schema":{"type":"string","example":"</api/2.0/cdrs/{emspId}?continuation_token=abc123xyz>; rel=\"next\""},"x-version":"2.0"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdrResponse"},"examples":{"CDR example":{"value":{"data":{"id":"NLGFX63759518932331194001","start_date_time":"2021-06-17T08:35:34.0000000+00:00","stop_date_time":"2021-06-17T09:29:27.0000000+00:00","auth_id":"NL*GFX*0dd6AE*6","token_uid":"0dd6AE","token_visual_number":"NL-APP-0001","auth_method":"AUTH_REQUEST","location":{"id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","type":"ON_STREET","publish":true,"name":"Gent Zuid","address":"F.Rooseveltlaan 3A","city":"Gent","postal_code":"9000","country":"BEL","coordinates":{"latitude":"51.047599","longitude":"3.729944"},"evses":[{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"physical_reference":"1","floor_level":"-1","coordinates":"","directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"}],"directions":[],"operator":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"suboperator":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"owner":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"facilities":[],"time_zone":"","opening_times":{"regular_hours":"","twentyfourseven":true,"exceptional_openings":"","exceptional_closings":""},"charging_when_closed":"","images":"","energy_mix":"","last_updated":"2020-11-26T21:14:20.0000000+00:00"},"meter_id":"","currency":"EUR","tariffs":"","charging_periods":[{"start_date_time":"2021-05-09T09:38:39.0000000+00:00","dimensions":[{"type":"ENERGY","volume":16.1602},{"type":"TIME","volume":19.6588}]}],"total_cost":9.24,"total_cost_incl_vat":11.18,"total_vat":1.94,"total_reimbursement_cost":9.24,"reimbursement_tariff_code":"REIMB-BASE","total_energy":11.712,"total_time":19.6588,"total_parking_time":8.1689,"remark":"","last_updated":"2021-06-17T08:35:38.0000000+00:00","total_retail_cost":9.24,"total_retail_cost_incl_vat":11.18,"total_retail_vat":1.94,"retail_package_id":"Revolution","authorization_id":"ios-93945135-c767-4934-fg99-d0b44a49174y","auth_host_reference":"78d118fb-03e3-eb11-80d5-0080569161f2","customer_external_id":"BL","driver_external_id":"GF-APP-S-55PSL","emsp_party_id":"APP","emsp_country_code":"GF","vat":21,"retail_vat":21},"status_code":1000,"status_message":"Success","timestamp":"2021-07-15T14:44:31.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/cdrs/{emspId}/{customerId}":{"get":{"tags":["CRM"],"summary":"Get CDRs by Customer ID","description":"Get CDRs generated by Charge Station belonging to the CPO and where the Driver is associated to a specific Customer ID.\n\n**Pagination:**\n- Version 1.0: Uses offset-based pagination with the `offset` parameter\n- Version 2.0: Uses token-based pagination with the `continuationToken` parameter\n","operationId":"Cdrs_GetCdrsByEmspIdAndCustomerId","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"enum":["1.0","2.0"],"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}},{"name":"date_from","in":"query","description":"Only return CDRs that have last_updated after or equal to this Date/Time (inclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return CDRs that have last_updated up to this Date/Time, but not including (exclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"[Version 1.0 only] The offset of the first object returned. Default is 0. This parameter is not available in version 2.0, use continuationToken instead.","schema":{"type":"integer","format":"int32","default":0},"x-version":"1.0"},{"name":"continuation_token","in":"query","description":"[Version 2.0 only] Continuation token for pagination. Use the token from the previous response to get the next page of results. This parameter is not available in version 1.0, use offset instead.","schema":{"type":"string"},"x-version":"2.0"}],"responses":{"200":{"description":"Success","headers":{"Link":{"description":"[Version 2.0 only] URL to retrieve the next page of CDRs. Only present when there are more results available. This header is not available in version 1.0.","schema":{"type":"string","example":"</api/2.0/cdrs/{emspId}/{customerId}?continuation_token=abc123xyz>; rel=\"next\""},"x-version":"2.0"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CdrResponse"},"examples":{"CDR example":{"value":{"data":{"id":"NLGFX63759518932331194001","start_date_time":"2021-06-17T08:35:34.0000000+00:00","stop_date_time":"2021-06-17T09:29:27.0000000+00:00","auth_id":"NL*GFX*0dd6AE*6","token_uid":"0dd6AE","token_visual_number":"NL-APP-0001","auth_method":"AUTH_REQUEST","location":{"id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","type":"ON_STREET","publish":true,"name":"Gent Zuid","address":"F.Rooseveltlaan 3A","city":"Gent","postal_code":"9000","country":"BEL","coordinates":{"latitude":"51.047599","longitude":"3.729944"},"evses":[{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"physical_reference":"1","floor_level":"-1","coordinates":"","directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"}],"directions":[],"operator":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"suboperator":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"owner":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"facilities":[],"time_zone":"","opening_times":{"regular_hours":"","twentyfourseven":true,"exceptional_openings":"","exceptional_closings":""},"charging_when_closed":"","images":"","energy_mix":"","last_updated":"2020-11-26T21:14:20.0000000+00:00"},"meter_id":"","currency":"EUR","tariffs":"","charging_periods":[{"start_date_time":"2021-05-09T09:38:39.0000000+00:00","dimensions":[{"type":"ENERGY","volume":16.1602},{"type":"TIME","volume":19.6588}]}],"total_cost":9.24,"total_cost_incl_vat":11.18,"total_vat":1.94,"total_reimbursement_cost":9.24,"reimbursement_tariff_code":"REIMB-BASE","total_energy":11.712,"total_time":19.6588,"total_parking_time":8.1689,"remark":"","last_updated":"2021-06-17T08:35:38.0000000+00:00","total_retail_cost":9.24,"total_retail_cost_incl_vat":11.18,"total_retail_vat":1.94,"retail_package_id":"Revolution","authorization_id":"ios-93945135-c767-4934-fg99-d0b44a49174y","auth_host_reference":"78d118fb-03e3-eb11-80d5-0080569161f2","customer_external_id":"BL","driver_external_id":"GF-APP-S-55PSL","emsp_party_id":"APP","emsp_country_code":"GF","vat":21,"retail_vat":21},"status_code":1000,"status_message":"Success","timestamp":"2021-07-15T14:44:31.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/chargestationnotifications":{"get":{"tags":["Charge Station Notifications"],"summary":"Get Charge Station Notifications","description":"The ChargeStationNotifications module of the GreenFlux API is designed for the exchange of OCPP Status Notifications send by the chargers. The ChargeStationNotifications module is designed for CPOs on the GreenFlux platform.","operationId":"ChargeStationNotifications_GetChargeStationNotifications","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"date_from","in":"query","description":"Only return ChargeStationNotifications that have last_updated after or equal to this Date/Time (inclusive)","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return ChargeStationNotifications that have last_updated up to this Date/Time, but not including (exclusive). Difference between date_from and date_to must be less than 72 hours.","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"message_action","in":"query","description":"Only return charge station notifications that have message_action equal to this","schema":{"type":"string"},"example":"StatusNotification"},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Minimum 10000 and Maximum 100000. Standard set to 10000","required":true,"schema":{"type":"integer","format":"int32","default":10000}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeStationNotificationResponse"},"examples":{"Notification with Error example":{"value":{"data":[{"id":"39a0d8b4-e492-4654-9d2a-0374ef3920b2","charge_station_notification_id":"637997844483297320","charge_station_id":"TestChargeStationID","location_id":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4","charge_location_id":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4","charge_station_message_payload":"{\"connectorId\":1,\"errorCode\":\"NoError\",\"info\":\"\",\"status\":\"Charging\",\"timestamp\":\"2022-09-26T10:20:48.3297313Z\",\"VendorErrorCode\":null,\"level\":\"Info\"}","evse_id":"NL-GFX-ETestChargeStationID-1","created":"2022-09-26T10:20:48.0000000+00:00","level":"Info","message_type":"2","message_action":"StatusNotification","MessageAction":"StatusNotification","direction":"ToGsop"},{"id":"cfbafda2-b5ae-4d09-a3f3-fda9df6df767","charge_station_notification_id":"637997844524095480-6766d","charge_station_id":"TestChargeStationID","location_id":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4","charge_location_id":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4","charge_station_message_payload":"{\"GetVariableData\":null,\"FullUpdate\":true}","created":"2022-09-26T10:20:52.0000000+00:00","level":"Info","message_type":"2","message_action":"GetConfiguration","MessageAction":"GetConfiguration","direction":"ToChargePoint"},{"id":"61e595b8-7970-41ec-a24a-46794aecbe1a","charge_station_notification_id":"TestChargeStationID@637997844532025646","charge_station_id":"TestChargeStationID","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","charge_location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","charge_station_message_payload":"{\"requestedMessage\":\"StatusNotification\",\"connectorId\":1,\"Evse\":{\"Id\":1,\"ConnectorId\":1}}","created":"2022-09-26T10:20:53.0000000+00:00","level":"Info","message_type":"2","message_action":"TriggerMessage","MessageAction":"TriggerMessage","direction":"ToChargePoint"},{"id":"8660fff1-0d02-43eb-a5db-b7f000fc593f","charge_station_notification_id":"TestChargeStationID@637997844543051691","charge_station_id":"TestChargeStationID","location_id":"a2f2ce5a-8721-4077-9739-6d1a6dce20e0","charge_location_id":"a2f2ce5a-8721-4077-9739-6d1a6dce20e0","charge_station_message_payload":"{\"connectorId\":1,\"csChargingProfiles\":{\"chargingProfileId\":1742852488,\"stackLevel\":1,\"chargingProfilePurpose\":\"TxDefaultProfile\",\"chargingProfileKind\":\"Relative\",\"chargingSchedule\":{\"duration\":60,\"chargingRateUnit\":\"A\",\"chargingSchedulePeriod\":[{\"startPeriod\":0,\"limit\":32.0,\"numberPhases\":3}],\"minChargeRate\":0.0}}}","created":"2022-09-26T10:20:54.0000000+00:00","level":"Info","message_type":"2","message_action":"SetChargingProfile","MessageAction":"SetChargingProfile","direction":"ToChargePoint"}],"status_code":1000,"status_message":"","timestamp":"2021-12-09T08:53:58.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/chargestationnotifications/{chargeStationId}":{"get":{"tags":["Charge Station Notifications"],"summary":"Get Charge Station Notifications by single CS ID","description":"The ChargeStationNotifications module of the GreenFlux API is designed for the exchange of OCPP Status Notifications send by the chargers. The ChargeStationNotifications module is designed for CPOs on the GreenFlux platform.","operationId":"ChargeStationNotifications_GetChargeStationNotificationsChargeStationID","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"chargeStationId","in":"path","description":"ChargeStation ID","required":true,"schema":{"type":"string"}},{"name":"date_from","in":"query","description":"Only return ChargeStationNotifications that have last_updated after or equal to this Date/Time (inclusive)","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return ChargeStationNotifications that have last_updated up to this Date/Time, but not including (exclusive). Difference between date_from and date_to must be less than 72 hours.","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Maximum of 100","required":true,"schema":{"type":"integer","format":"int32","default":100}},{"name":"continuationToken","in":"query","description":"return next list of charge station notifications","schema":{"type":"string"}},{"name":"message_action","in":"query","description":"Only return charge station notifications that have message_action equal to this","schema":{"type":"string"},"example":"StatusNotification"},{"name":"charge_station_notification_id","in":"query","description":"Only return charge station notifications that have charge_station_notification_id equal to this","schema":{"type":"string"}},{"name":"message_type","in":"query","description":"Only return charge station notifications that have meter_type equal to this","schema":{"type":"string"},"example":"2"},{"name":"direction","in":"query","description":"Only return charge station notifications that have direction equal to this","schema":{"type":"string"},"example":"toGSOP"},{"name":"level","in":"query","description":"Only return charge station notifications that have level equal to this","schema":{"type":"string"},"example":"Error"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeStationNotificationResponse"},"examples":{"Notification with Error example":{"value":{"data":[{"charge_station_notification_id":"55","charge_station_message_payload":"{\"connectorId\":0,\"errorCode\":\"GroundFailure\",\"info\":\"Possible power outage chargepoint\",\"status\":\"Faulted\",\"timestamp\":\"2021-12-09T08:12:13Z\",\"VendorErrorCode\":null,\"level\":\"Error\"}","level":"Error","id":"e9d3c701-c47d-44d4-a9bd-e4bbb80d1658","charge_station_id":"041503001","charge_location_id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","created":"2021-12-09T08:12:18.0000000+00:00"},{"evse_id":"BE-BEC-E041503001-1","charge_station_notification_id":"56","charge_station_message_payload":"{\"connectorId\":1,\"errorCode\":\"GroundFailure\",\"info\":\"\",\"status\":\"Faulted\",\"timestamp\":\"2021-12-09T08:12:13Z\",\"VendorErrorCode\":null,\"level\":\"Error\"}","level":"Error","id":"af57acd6-830d-44a4-919d-acbf761bd978","charge_station_id":"041503001","charge_location_id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","created":"2021-12-09T08:12:18.0000000+00:00"},{"evse_id":"BE-BEC-E041503001-2","charge_station_notification_id":"57","charge_station_message_payload":"{\"connectorId\":2,\"errorCode\":\"GroundFailure\",\"info\":\"\",\"status\":\"Faulted\",\"timestamp\":\"2021-12-09T08:12:18Z\",\"VendorErrorCode\":null,\"level\":\"Error\"}","level":"Error","id":"af57acd6-830d-44a4-919d-acbf761bd978","charge_station_id":"041503001","charge_location_id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","created":"2021-12-09T08:12:22.0000000+00:00"},{"evse_id":"BE-BEC-E041503001-1","charge_station_notification_id":"58","charge_station_message_payload":"{\"connectorId\":1,\"errorCode\":\"NoError\",\"status\":\"Available\",\"timestamp\":\"2021-12-09T08:12:20Z\",\"VendorErrorCode\":null,\"level\":\"Info\"}","level":"Info","id":"283733a8-8f42-4194-a232-a87b09385bc2","charge_station_id":"041503001","charge_location_id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","created":"2021-12-09T08:12:24.0000000+00:00"}],"status_code":1000,"status_message":"","timestamp":"2021-12-09T08:53:58.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/customers":{"get":{"tags":["CRM"],"summary":"Get Customers","description":"Returns all customers for the given eMSP ID.","operationId":"Crm_GetCustomers","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersResponse"},"examples":{"Customer":{"value":{"data":{"id":"21268544","name":"Name","phone_number":"31-70-3555814","email":"first.lastname@email.com","address":"Street Name 1","city":"City","postal_code":"1055","country":"NLD","modified_on_utc":"2021-07-16T07:52:45.4540000+00:00","modified_by":"User"},"status_code":1000,"status_message":"string","timestamp":"2021-07-16T07:52:45.4540000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/customers/{customerId}":{"get":{"tags":["CRM"],"summary":"Get Customers by ID","description":"Returns the customer with Customer ID for the given eMSP ID.","operationId":"Crm_GetCustomer","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"},"examples":{"Customer":{"value":{"data":{"id":"21268544","name":"Name","phone_number":"31-70-3555814","email":"first.lastname@email.com","address":"Street Name 1","city":"City","postal_code":"1055","country":"NLD","modified_on_utc":"2021-07-16T07:52:45.4540000+00:00","modified_by":"User"},"status_code":1000,"status_message":"string","timestamp":"2021-07-16T07:52:45.4540000+00:00"}}}}}}}},"put":{"tags":["CRM"],"summary":"Put Customer","description":"Updates or inserts the customer with Customer ID for the given eMSP ID","operationId":"Crm_UpsertCustomer","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"customerId","in":"path","description":"Customer ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Customer object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"},"examples":{"Customer":{"value":{"data":{"id":"21268544","name":"Name","phone_number":"31-70-3555814","email":"first.lastname@email.com","address":"Street Name 1","city":"City","postal_code":"1055","country":"NLD","modified_on_utc":"2021-07-16T07:52:45.4540000+00:00","modified_by":"User"},"status_code":1000,"status_message":"string","timestamp":"2021-07-16T07:52:45.4540000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/drivers":{"get":{"tags":["CRM"],"summary":"Get Drivers","description":"Returns all drivers for the given eMSP ID","operationId":"Crm_GetDrivers","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriversResponse"},"examples":{"Success":{"value":{"data":[{"id":"000455683","first_name":"Firstname","last_name":"Lastname","phone_number":"31-70-3555814","mobile_phone_number":"31-70-3555814","email":"first.lastname@email.com","retail_package_id":"RetailPackageID","address":"Street Name 26","postal_code":"1055","city":"City","country":"NLD","customer_id":"21268544","modified_on_utc":"2021-07-16T08:01:23.7920000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:01:23.7920000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/drivers/{driverId}":{"put":{"tags":["CRM"],"summary":"Put Driver","description":"Updates or inserts the driver with Driver ID for the given eMSP ID","operationId":"Crm_UpsertDriver","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"driverId","in":"path","description":"Driver ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Driver object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Driver"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriverResponse"},"examples":{"Success":{"value":{"data":[{"id":"000455683","first_name":"Firstname","last_name":"Lastname","phone_number":"31-70-3555814","mobile_phone_number":"31-70-3555814","email":"first.lastname@email.com","retail_package_id":"RetailPackageID","address":"Street Name 26","postal_code":"1055","city":"City","country":"NLD","customer_id":"21268544","modified_on_utc":"2021-07-16T08:01:23.7920000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:01:23.7920000+00:00"}}}}}}}},"get":{"tags":["CRM"],"summary":"Get Driver by Driver ID","description":"Returns the driver with Driver ID for the given eMSP ID","operationId":"Crm_GetDriver","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"driverId","in":"path","description":"Driver ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriverResponse"},"examples":{"Success":{"value":{"data":[{"id":"000455683","first_name":"Firstname","last_name":"Lastname","phone_number":"31-70-3555814","mobile_phone_number":"31-70-3555814","email":"first.lastname@email.com","retail_package_id":"RetailPackageID","address":"Street Name 26","postal_code":"1055","city":"City","country":"NLD","customer_id":"21268544","modified_on_utc":"2021-07-16T08:01:23.7920000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:01:23.7920000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/tokens":{"get":{"tags":["CRM"],"summary":"Get Tokens","description":"Returns all tokens for the given eMSP ID","operationId":"Crm_GetTokens","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"customer-external-id","in":"query","description":"Optional, when provided, only the tokens whose drivers belong to this customer will be returned.","schema":{"type":"string"}},{"name":"driver-external-id","in":"query","description":"Optional, when provided, only the tokens belonging to this driver will be returned.","schema":{"type":"string"}},{"name":"retail-package-external-id","in":"query","description":"Optional, when provided, only the tokens whose drivers have assigned this retail package, will be returned.","schema":{"type":"string"}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmTokensResponse"},"examples":{"Success":{"value":{"data":[{"uid":"7489549ABC5B81","auth_id":"NL-CPO-K4442589-B","visual_number":"NL-CPO-K4442589-B","valid":true,"expiration_date":"2021-07-16T08:03:21.5250000+00:00","roaming_allowed":true,"whitelist_type":"AllowedOffline","driver_id":"000455683","customer_id":"21268544","modified_on_utc":"2021-07-16T08:03:21.5250000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:03:21.5250000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/tokens/{tokenUid}":{"put":{"tags":["CRM"],"summary":"Put Token","description":"Updates or inserts the token with Token ID for the given eMSP ID","operationId":"Crm_UpsertToken","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"tokenUid","in":"path","description":"Token ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Token object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmTokenResponse"},"examples":{"Success":{"value":{"data":[{"uid":"7489549ABC5B81","auth_id":"NL-CPO-K4442589-B","visual_number":"NL-CPO-K4442589-B","valid":true,"expiration_date":"2021-07-16T08:03:21.5250000+00:00","roaming_allowed":true,"whitelist_type":"AllowedOffline","driver_id":"000455683","customer_id":"21268544","modified_on_utc":"2021-07-16T08:03:21.5250000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:03:21.5250000+00:00"}}}}}}}},"get":{"tags":["CRM"],"summary":"Get Token by Token ID","description":"Returns the token with Token ID for the given eMSP ID","operationId":"Crm_GetToken","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"tokenUid","in":"path","description":"Token ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmTokenResponse"},"examples":{"Success":{"value":{"data":[{"uid":"7489549ABC5B81","auth_id":"NL-CPO-K4442589-B","visual_number":"NL-CPO-K4442589-B","valid":true,"expiration_date":"2021-07-16T08:03:21.5250000+00:00","roaming_allowed":true,"whitelist_type":"AllowedOffline","driver_id":"000455683","customer_id":"21268544","modified_on_utc":"2021-07-16T08:03:21.5250000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:03:21.5250000+00:00"}}}}}}}}},"/api/{versionNumber}/crm/{emspId}/retailpackages":{"get":{"tags":["CRM"],"summary":"Get Retail Packages","description":"Returns all Retail Packages for the given eMSP ID","operationId":"Crm_GetRetailPackages","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetailPackagesResponse"},"examples":{"Success":{"value":{"data":[{"id":"RetailPackageID","name":"Default Retail package","modified_on_utc":"2021-07-16T08:04:13.7340000+00:00","modified_by":"User"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T08:04:13.7340000+00:00"}}}}}}}}},"/api/{versionNumber}/locations":{"get":{"tags":["Locations"],"summary":"Get Locations","description":"Returns list of all Locations objects defined by query parameters. Locations are available regardless of 'Published' state. A Locations needs to have at least on EVSE in order for it to show in the API.","operationId":"CpoLocations_PlatformGetLocations","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"date_from","in":"query","description":"Only return Locations that have last_updated after or equal to this Date/Time (inclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return Locations that have last_updated up to this Date/Time, but not including (exclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 1000","schema":{"type":"integer","format":"int32","default":1000}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationResponse"},"examples":{"Extended Location":{"value":{"data":[{"id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","type":"ON_STREET","publish":true,"name":"Gent Zuid","address":"F.Rooseveltlaan 3A","city":"Gent","postal_code":"9000","country":"BEL","coordinates":{"latitude":"51.047599","longitude":"3.729944"},"evses":[{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"physical_reference":"1","floor_level":"-1","coordinates":"","directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"},{"uid":"BE-BEC-E04150300","evse_id":"BE*BEC*E041503002","status":"CHARGING","capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"DC","voltage":500,"amperage":100,"max_electric_power":50000,"tariff_id":"12","last_updated":"2015-06-29T20:39:09.0000000+00:00"}],"physical_reference":"2","floor_level":"-2","coordinates":"","directions":[],"parking_restrictions":["CUSTOMERS"],"images":"","last_updated":"2015-06-29T20:39:09.0000000+00:00"}],"directions":[{"language":"en","text":"In front of the Supermarket"}],"operator":{"name":"EVChargepointOperator","website":"https://www.EVChargepointOperator.nl","logo":{"url":"https://www.EVChargepointOperator.nl/logo.png","thumbnail":"https://www.EVChargepointOperator.nl/icon.ico","category":"OPERATOR","type":"png","width":0,"height":0}},"suboperator":{"name":"EVChargepointOperator","website":"https://www.EVChargepointOperator.nl","logo":{"url":"https://www.EVChargepointOperator.nl/logo.png","thumbnail":"https://www.EVChargepointOperator.nl/icon.ico","category":"OPERATOR","type":"png","width":0,"height":0}},"owner":{"name":"EVChargepointOperator","website":"https://www.EVChargepointOperator.nl","logo":{"url":"https://www.EVChargepointOperator.nl/logo.png","thumbnail":"https://www.EVChargepointOperator.nl/icon.ico","category":"OPERATOR","type":"png","width":0,"height":0}},"auth_rules":[{"type":"CustomerExternalId","value":"Customer_1_ID"},{"type":"CustomerExternalId","value":"Customer_2_ID"},{"type":"ClosedGroups","value":"NL-GFX-C000ABC"},{"type":"ClosedGroups","value":"NL-GFX-CSOMEAUTHID"}],"facilities":["AIRPORT","BUS_STOP","CAFE","CARPOOL_PARKING","FUEL_STATION","HOTEL","MALL","MUSEUM","NATURE","RECREATION_AREA","RESTAURANT","SPORT","SUPERMARKET","TAXI_STAND","TRAIN_STATION","WIFI"],"time_zone":"","opening_times":{"regular_hours":[{"weekday":1,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":2,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":3,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":4,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":5,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":6,"period_begin":"2024-07-22T08:00:00.0000000+02:00","period_end":"2024-07-22T22:00:00.0000000+02:00"},{"weekday":7,"period_begin":"2024-07-22T08:00:00.0000000+02:00","period_end":"2024-07-22T12:00:00.0000000+02:00"},{"weekday":7,"period_begin":"2024-07-22T15:00:00.0000000+02:00","period_end":"2024-07-22T22:00:00.0000000+02:00"}],"twentyfourseven":false,"exceptional_openings":[{"period_begin":"2021-12-31T10:00:00.0000000+00:00","period_end":"2021-12-31T18:00:00.0000000+00:00"}],"exceptional_closings":[{"period_begin":"2021-12-24T10:00:00.0000000+00:00","period_end":"2021-12-25T18:00:00.0000000+00:00"}]},"charging_when_closed":"","images":"","energy_mix":{"is_green_energy":false,"energy_sources":[{"source":"GENERAL_GREEN","percentage":35.9},{"source":"GAS","percentage":6.3},{"source":"COAL","percentage":33.2},{"source":"GENERAL_FOSSIL","percentage":2.9},{"source":"NUCLEAR","percentage":21.7}],"environ_impact":[{"source":"NUCLEAR_WASTE","amount":0.0006},{"source":"CARBON_DIOXIDE","amount":372}],"supplier_name":"E.ON Energy Deutschland","energy_product_name":"E.ON DirektStrom eco"},"last_updated":"2021-06-29T20:39:09.0000000+00:00"}],"status_code":1000,"status_message":"","timestamp":"2021-07-16T07:48:57.0000000+00:00"}},"Simple Location":{"value":{"data":[{"id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","type":"ON_STREET","publish":true,"name":"Gent Zuid","address":"F.Rooseveltlaan 3A","city":"Gent","postal_code":"9000","country":"BEL","coordinates":{"latitude":"51.047599","longitude":"3.729944"},"evses":[{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"},{"uid":"BE-BEC-E04150300","evse_id":"BE*BEC*E041503002","status":"CHARGING","capabilities":["RFID_READER"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"DC","voltage":500,"amperage":100,"max_electric_power":50000,"tariff_id":"12","last_updated":"2015-06-29T20:39:09.0000000+00:00"}],"coordinates":"","directions":[],"images":"","last_updated":"2015-06-29T20:39:09.0000000+00:00"}],"directions":"","operator":{"name":"EVChargepointOperator","logo":""},"facilities":"","last_updated":"2021-06-29T20:39:09.0000000+00:00"}],"status_code":1000,"status_message":"","timestamp":"2021-07-16T07:48:57.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/tokens":{"get":{"tags":["Tokens"],"summary":"Get Tokens","description":"Returns list of token details across the CPOs the caller is subscribed to.\nThe response contains one entry per match found across the subscribed CPOs,\neach entry indicating the token state (`active`, `expired`, `unknown`) and the\nscopes (country-party codes) in which that entry applies.\n","operationId":"Tokens_GetTokens","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"token_id","in":"query","description":"One of the three token identifiers (ChipID/Uid, AuthID, Visual ID/number) to search for.","required":true,"schema":{"type":"string"}},{"name":"charge_station_id","in":"query","description":"Optional. Narrow the search to the specified charge station.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTokensResponse"},"examples":{"Token found":{"value":{"data":{"token_id":"NL-GFX-C000ABC","tokens":[{"state":"active","uid":"7489549ABC5B81","auth_id":"NL-GFX-C000ABC","visual_number":"NL-GFX-C000ABC","scopes":{"country_party_codes":["NL-GFX","BE-BEC"]}},{"state":"unknown","uid":"7489549ABC5B81","auth_id":"NL-GFX-C000ABC","visual_number":"NL-GFX-C000ABC","scopes":{"country_party_codes":["DE-XYZ"]}}]},"status_code":1000,"status_message":"","timestamp":"2026-06-19T11:54:55.0000000+00:00"}},"Token not found":{"value":{"data":{"token_id":"UNKNOWN-TOKEN","tokens":[{"state":"unknown","uid":null,"auth_id":null,"visual_number":null}]},"status_code":1000,"status_message":"","timestamp":"2026-06-19T11:54:55.0000000+00:00"}},"Missing token_id":{"value":{"status_code":2001,"status_message":"'token_id' must be specified","timestamp":"2026-06-19T11:54:55.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/locations/{locationId}":{"get":{"tags":["Locations"],"summary":"Get Location by Location ID","description":"Returns Location object of specified Location ID.","operationId":"CpoLocations_PlatformGetLocation","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"locationId","in":"path","description":"Location ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationResponse"},"examples":{"Success":{"value":{"data":{"id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","type":"ON_STREET","publish":true,"name":"Gent Zuid","address":"F.Rooseveltlaan 3A","city":"Gent","postal_code":"9000","country":"BEL","coordinates":{"latitude":"51.047599","longitude":"3.729944"},"evses":[{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"physical_reference":"1","floor_level":"-1","coordinates":"","directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"},{"uid":"BE-BEC-E04150300","evse_id":"BE*BEC*E041503002","status":"CHARGING","capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"SOCKET","power_type":"DC","voltage":500,"amperage":100,"max_electric_power":50000,"tariff_id":"12","last_updated":"2015-06-29T20:39:09.0000000+00:00"}],"physical_reference":"2","floor_level":"-2","coordinates":"","directions":[],"parking_restrictions":["CUSTOMERS"],"images":"","last_updated":"2015-06-29T20:39:09.0000000+00:00"}],"directions":[{"language":"en","text":"In front of the Supermarket"}],"operator":{"name":"EVChargepointOperator","website":"https://www.EVChargepointOperator.nl","logo":{"url":"https://www.EVChargepointOperator.nl/logo.png","thumbnail":"https://www.EVChargepointOperator.nl/icon.ico","category":"OPERATOR","type":"png","width":0,"height":0}},"suboperator":{"name":"EVChargepointOperator","website":"https://www.EVChargepointOperator.nl","logo":{"url":"https://www.EVChargepointOperator.nl/logo.png","thumbnail":"https://www.EVChargepointOperator.nl/icon.ico","category":"OPERATOR","type":"png","width":0,"height":0}},"owner":{"name":"EVChargepointOperator","website":"https://www.EVChargepointOperator.nl","logo":{"url":"https://www.EVChargepointOperator.nl/logo.png","thumbnail":"https://www.EVChargepointOperator.nl/icon.ico","category":"OPERATOR","type":"png","width":0,"height":0}},"auth_rules":[{"type":"CustomerExternalId","value":"Customer_1_ID"},{"type":"CustomerExternalId","value":"Customer_2_ID"},{"type":"ClosedGroups","value":"NL-GFX-C000ABC"},{"type":"ClosedGroups","value":"NL-GFX-CSOMEAUTHID"}],"facilities":["AIRPORT","BUS_STOP","CAFE","CARPOOL_PARKING","FUEL_STATION","HOTEL","MALL","MUSEUM","NATURE","RECREATION_AREA","RESTAURANT","SPORT","SUPERMARKET","TAXI_STAND","TRAIN_STATION","WIFI"],"time_zone":"","opening_times":{"regular_hours":[{"weekday":1,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":2,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":3,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":4,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":5,"period_begin":"2024-07-22","period_end":"2024-07-22T23:59:00.0000000+02:00"},{"weekday":6,"period_begin":"2024-07-22T08:00:00.0000000+02:00","period_end":"2024-07-22T22:00:00.0000000+02:00"},{"weekday":7,"period_begin":"2024-07-22T08:00:00.0000000+02:00","period_end":"2024-07-22T12:00:00.0000000+02:00"},{"weekday":7,"period_begin":"2024-07-22T15:00:00.0000000+02:00","period_end":"2024-07-22T22:00:00.0000000+02:00"}],"twentyfourseven":false,"exceptional_openings":[{"period_begin":"2021-12-31T10:00:00.0000000+00:00","period_end":"2021-12-31T18:00:00.0000000+00:00"}],"exceptional_closings":[{"period_begin":"2021-12-24T10:00:00.0000000+00:00","period_end":"2021-12-25T18:00:00.0000000+00:00"}]},"charging_when_closed":"","images":"","energy_mix":{"is_green_energy":false,"energy_sources":[{"source":"GENERAL_GREEN","percentage":35.9},{"source":"GAS","percentage":6.3},{"source":"COAL","percentage":33.2},{"source":"GENERAL_FOSSIL","percentage":2.9},{"source":"NUCLEAR","percentage":21.7}],"environ_impact":[{"source":"NUCLEAR_WASTE","amount":0.0006},{"source":"CARBON_DIOXIDE","amount":372}],"supplier_name":"E.ON                    Energy Deutschland","energy_product_name":"E.ON DirektStrom eco"},"last_updated":"2021-06-29T20:39:09.0000000+00:00"},"status_code":1000,"status_message":"","timestamp":"2021-07-16T07:48:57.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/locations/{locationId}/{evseUid}":{"get":{"tags":["Locations"],"summary":"Get EVSE by EVSE ID","description":"Returns EVSE object of specified EVSE ID.","operationId":"CpoLocations_PlatformGetEvse","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"locationId","in":"path","description":"Location ID","required":true,"schema":{"type":"string"}},{"name":"evseUid","in":"path","description":"EVSE ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvseResponse"},"examples":{"Success":{"value":{"data":{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"physical_reference":"1","floor_level":"-1","coordinates":"","directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"},"status_code":1000,"status_message":"","timestamp":"2021-07-15T15:02:24.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/locations/{locationId}/{evseUid}/{connectorId}":{"get":{"tags":["Locations"],"summary":"Get Connector by Connector ID","description":"Returns Connector object of specified Connector ID.","operationId":"CpoLocations_PlatformGetConnector","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"locationId","in":"path","description":"Location ID","required":true,"schema":{"type":"string"}},{"name":"evseUid","in":"path","description":"EVSE ID","required":true,"schema":{"type":"string"}},{"name":"connectorId","in":"path","description":"Connector ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorResponse"},"examples":{"Success":{"value":{"data":{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":50000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},"status_code":1000,"status_message":"","timestamp":"2021-07-15T15:02:24.0000000+00:00"}}}}}}}}},"/api/{versionNumber}/metervalues":{"get":{"tags":["MeterValues"],"summary":"Get MeterValues","description":"Returns the last number of meter values received. The frequency of the meter values and the samples sent are dependent on the setup of the charge stations and could vary between 30 seconds - 15 minutes. Settings can be viewed in the EV Portal.","operationId":"MeterValues_GetMeterValues","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"date_from","in":"query","description":"Only return MeterValues that have last_updated after or equal to this Date/Time (inclusive)","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return MeterValues that have last_updated up to this Date/Time, but not including (exclusive)","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"phase","in":"query","description":"Query for specific phase in meter values","schema":{"type":"string"}},{"name":"measurand","in":"query","description":"Query for specific measurand in meter values","schema":{"type":"string"},"example":"EnergyActiveExportRegister"},{"name":"context","in":"query","description":"Query for specific context in meter values","schema":{"type":"string"},"example":"SamplePeriodic"},{"name":"unit","in":"query","description":"Query for specific context in meter values","schema":{"type":"string"},"example":"Wh"},{"name":"meter_type","in":"query","description":"Indicating S0 meter reading, S0","schema":{"$ref":"#/components/schemas/MeterType"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Minimum 10000 and Maximum 100000. Standard set to 10000","required":true,"schema":{"type":"integer","format":"int32","default":10000}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeterValueResponse"},"examples":{"Success":{"value":{"data":[{"meter_value_uid":"50eb22e3-429c-4f3a-b178-53276748a461","value":0,"unit":"A","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"CurrentImport","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"0704c4d8-791c-4a12-8de5-591746f17d20","value":16,"unit":"A","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"CurrentOffered","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"d0672042-b73f-42cc-a38f-1a0a3be2fd45","value":55390,"unit":"Wh","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"EnergyActiveImportRegister","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"17e5d7fe-b37e-4b1a-9c73-4d606de97164","value":0,"unit":"W","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"PowerActiveImport","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"17e5d7fe-b37e-4b1a-9c73-4d606de97164","value":0,"unit":"W","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"PowerActiveImport","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"d0672042-b73f-42cc-a38f-1a0a3be2fd45","value":55390,"unit":"Wh","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"EnergyActiveImportRegister","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"0704c4d8-791c-4a12-8de5-591746f17d20","value":16,"unit":"A","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"CurrentOffered","phase":"None","format":"Raw","location":"Outlet"},{"meter_value_uid":"50eb22e3-429c-4f3a-b178-53276748a461","value":0,"unit":"A","evse_id":"NL-GFX-ENL-GFX-RDABC-1","charge_station_id":"NL-GFX-RDABC","location_id":"e649f5c0-a177-4ff1-a0c8-c4285ffc8aad","meter_type":"EVSE","created":"2022-09-19T07:18:33.0000000+00:00","timestamp":"2022-09-19T07:18:30.0000000+00:00","message_id":"5e90284ccc990L","session_id":"NLGFX637985930900393478-bac93","connector_id":2,"context":"SamplePeriodic","measurand":"CurrentImport","phase":"None","format":"Raw","location":"Outlet"}],"status_code":1000,"status_message":"string","timestamp":"2021-07-12T12:22:12.9450000+00:00"}}}}}}}}},"/api/{versionNumber}/sessions":{"get":{"tags":["Sessions"],"summary":"Get Sessions","description":"Returns sessions that have been COMPLETED. Sessions are synced on the Greengflux side only once every hour. For real-time data, use the Push capabilities provided. Session data is only stored up to one month.","operationId":"Sessions_PlatformGetSessions","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"date_from","in":"query","description":"Only return Sessions that have last_updated after or equal to this Date/Time (inclusive)","required":true,"schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"date_to","in":"query","description":"Only return Sessions that have last_updated up to this Date/Time, but not including (exclusive)","schema":{"type":"string","format":"yyyy-MM-ddTHH:mm:ssZ"}},{"name":"limit","in":"query","description":"Maximum number of objects to GET. Default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"The offset of the first object returned. Default is 0","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionResponse"},"examples":{"Success":{"value":{"data":[{"id":"NLGFX637561499213897595-ef07d","start_datetime":"2021-05-09T09:38:39.0000000+00:00","end_datetime":"2021-05-10T05:27:25.0000000+00:00","kwh":11.712,"auth_id":"NL*GFX*0dd6AE*6","auth_method":"WHITELIST","location":{"id":"0d4ef8c6-e0c8-54c1d-b4f4-eb245f3f7afa","type":"ON_STREET","publish":true,"name":"Gent Zuid","address":"F.Rooseveltlaan 3A","city":"Gent","postal_code":"9000","country":"BEL","coordinates":{"latitude":"51.047599","longitude":"3.729944"},"evses":[{"uid":"BE-BEC-E041503001","evse_id":"BE*BEC*E041503001","status":"AVAILABLE","status_schedule":[],"capabilities":["CHARGING_PROFILE_CAPABLE","CREDIT_CARD_PAYABLE","REMOTE_START_STOP_CAPABLE","RESERVABLE","RFID_READER","UNLOCK_CAPABLE"],"connectors":[{"id":"1","standard":"IEC_62196_T2","format":"CABLE","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-16T10:10:02.0000000+00:00"},{"id":"2","standard":"IEC_62196_T2","format":"SOCKET","power_type":"AC_3_PHASE","voltage":220,"amperage":16,"max_electric_power":11000,"tariff_id":"11","last_updated":"2015-03-18T08:12:01.0000000+00:00"}],"physical_reference":"1","floor_level":"-1","coordinates":"","directions":[],"parking_restrictions":[],"images":"","last_updated":"2021-06-07T18:25:01.0000000+00:00"}],"directions":[],"operator":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"suboperator":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"owner":{"name":"GreenFlux","website":"https://www.greenfluxenergy.com","logo":""},"facilities":[],"time_zone":"","opening_times":{"regular_hours":"","twentyfourseven":true,"exceptional_openings":"","exceptional_closings":""},"charging_when_closed":"","images":"","energy_mix":""},"meter_id":"","currency":"EUR","charging_periods":[{"start_date_time":"2021-05-09T13:13:39.0000000+00:00","dimensions":[{"type":"PARKING_TIME","volume":16.1602}]},{"start_date_time":"2021-05-09T09:38:39.0000000+00:00","dimensions":[{"type":"TIME","volume":3.4986},{"type":"ENERGY","volume":11.712}]}],"status":"COMPLETED","last_updated":"2021-05-10T05:27:27.0000000+00:00","authorization_id":"string","vid":"string","state_of_charge":0,"total_cost":0}],"status_code":1000,"status_message":"string","timestamp":"2021-07-16T07:42:42.5560000+00:00"}}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups":{"post":{"tags":["Capacity Groups"],"summary":"Create Capacity Group","description":"Creates new capacity group","operationId":"SmartCharging_CreateCapacityGroup","parameters":[{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCreateRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}}}},"get":{"tags":["Capacity Groups"],"summary":"Search Capacity Group","description":"Search capacity groups with filters, orders and pagination","operationId":"SmartCharging_SearchCapacityGroup","parameters":[{"name":"name","in":"query","description":"Name of a capacity group (start with filter)","schema":{"type":"string","description":"Name of a capacity group (start with filter)"}},{"name":"algorithm","in":"query","description":"Capacity group algorithm (equal filter)","schema":{"$ref":"#/components/schemas/AlgorithmType"}},{"name":"cpo_external_ids","in":"query","description":"CPO external identifiers which should contains each capacity group","schema":{"type":"array","items":{"type":"string"}}},{"name":"order_by_id","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"order_by_name","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"order_by_cpo_external_id","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"order_by_algorithm","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/cpoexternalids":{"get":{"tags":["Capacity Groups"],"summary":"Get CPO ids","description":"Returns CPO external ids supported for capacity groups","operationId":"SmartCharging_GetCapacityGroup","parameters":[{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"type":"string"}}},"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"text/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}":{"put":{"tags":["Capacity Groups"],"summary":"Update capacity group","description":"Update an existing capacity group by id","operationId":"SmartCharging_UpdateCapacityGroup","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CapacityGroupUpdateRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupUpdateRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupUpdateRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CapacityGroupUpdateRequest"}}}},"responses":{"200":{"description":"Success"}}},"get":{"tags":["Capacity Groups"],"summary":"Get capacity group by id","description":"Returns capacity group by id","operationId":"SmartCharging_GetCapacityGroupbyId","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityGroupDetailsResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupDetailsResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupDetailsResponse"}}}}}},"delete":{"tags":["Capacity Groups"],"summary":"Remove capacity group","description":"Remove capacity group by id","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/algorithms/capacitymanagementdefault/state":{"get":{"tags":["Capacity Groups"],"summary":"Get defautlt algorithm","description":"Returns 'Capacity Management - Default' algorithm specific settings for a capacity group","operationId":"SmartCharging_GetDefaultAlgorithm","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateResponse"}}}}}},"put":{"tags":["Capacity Groups"],"summary":"Set default algorithm","description":"Update 'Capacity Management - Default' algorithm specific settings for a capacity group ","operationId":"SmartCharging_SetDefaultAlgorithm","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDefaultStateRequest"}}}},"responses":{"200":{"description":"Success"}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/algorithms/capacitymanagementdc/state":{"get":{"tags":["Algorithms"],"summary":"Returns 'Capacity Management - DC' algorithm specific settings for a capacity group","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateResponse"}}}}}},"put":{"tags":["Algorithms"],"summary":"Update 'Capacity Management - DC' algorithm specific settings for a capacity group","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CapacityGroupCapacityManagementDcStateRequest"}}}},"responses":{"200":{"description":"OK"}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/smappee/smartmeter":{"get":{"tags":["Smappee Meters"],"summary":"Get Smappee smart meter for the capacity group","description":"Get Smappee smart meter for the capacity group","operationId":"SmartCharging_GetSmappeeMeters","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterResponse"}}}}}},"put":{"tags":["Smappee Meters"],"summary":"Update Smappee settings","description":"Update Smappee smart meter settings for the capacity group","operationId":"SmartCharging_UpdateSmappeeMeters","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SmappeeSmartMeterRequest"}}}},"responses":{"200":{"description":"Success"}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/evses/chargepoints":{"put":{"tags":["Capacity Groups"],"summary":"Replace chargepoints","description":"Replace EVSEs and charge points for an existing capacity group by id","operationId":"SmartCharging_ReplaceChargepoints","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReplaceEvsesWithChargePointsRequest"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReplaceEvsesWithChargePointsRequest"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReplaceEvsesWithChargePointsRequest"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReplaceEvsesWithChargePointsRequest"}}}}},"responses":{"200":{"description":"Success"}}},"get":{"tags":["Capacity Groups"],"summary":"Get EVSEs by capacity group","description":"Get EVSEs and charge points for an existing capacity group by id","operationId":"SmartCharging_GetChargepointssbyCpacityGroup","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetEvsesWithChargePointsResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetEvsesWithChargePointsResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetEvsesWithChargePointsResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/evses/{evse_uid}":{"delete":{"tags":["Capacity Groups"],"summary":"Delete EVSE from capacity group","description":"Delete an evses from the capacity group","operationId":"SmartCharging_DeleteEvse","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"evse_uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/evses":{"get":{"tags":["Capacity Groups"],"summary":"Get EVSEs by capacity group","description":"Get EVSEs for an existing capacity group by id","operationId":"SmartCharging_GetEVSEsbyCpacityGroup","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"evse_uid","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"$ref":"#/components/schemas/EvseStatus"}},{"name":"smart_charging_status","in":"query","schema":{"$ref":"#/components/schemas/SmartChargingEvseStatus"}},{"name":"charge_point_id","in":"query","schema":{"type":"string"}},{"name":"order_by_evse_uid","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"order_by_status","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"order_by_charge_point_id","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EvseDetailsResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EvseDetailsResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EvseDetailsResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacityscenarios/dayofweek":{"put":{"tags":["Smart Charging Dynamic Scenarios"],"summary":"Set dynamic capacity scenarios","description":"Create day of week dynamic capacity scenarios for the capacity group","operationId":"SmartCharging_SetDynamicScenario","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioRequest"}}}},"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioResponse"}}}}}}},"get":{"tags":["Smart Charging Dynamic Scenarios"],"summary":"Get capacity scenarios","description":"Returns existing day of week dynamic capacity scenarios for the capacity group","operationId":"SmartCharging_GetDynamicScenario","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"day_of_week","in":"query","description":"Day of week (equal filter)","schema":{"$ref":"#/components/schemas/DayOfWeek"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayOfWeekCapacityGroupScenarioResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacityscenarios/datetime":{"put":{"tags":["Smart Charging Dynamic Scenarios"],"summary":"Set date time dynamic capacity scenarios","description":"Create date time dynamic capacity scenarios for the capacity group","operationId":"SmartCharging_SetDateTimeDynamicScenario","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioRequest"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioRequest"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioRequest"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioRequest"}}}}},"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioResponse"}}}}}}},"get":{"tags":["Smart Charging Dynamic Scenarios"],"summary":"Get date time dynamic capacity scenarios group","description":"Returns existing date time dynamic capacity scenarios for the capacity group","operationId":"SmartCharging_GetDateTimeDynamicScenario","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DateTimeCapacityGroupScenarioResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacitymanagementdefault/allocationgraph":{"get":{"tags":["Smart Charging Reporting"],"summary":"Returns capacity group allocation values for graph","description":"Returns capacity group allocation values for graph","operationId":"SmartCharging_GetAllocationGraph","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"phase","in":"query","schema":{"$ref":"#/components/schemas/PhaseFilter"}},{"name":"date_from","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"date_to","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupAllocationResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupAllocationResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupAllocationResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacitymanagementdefault/activeevses":{"get":{"tags":["Smart Charging Reporting"],"summary":"Get active EVSEs","description":"Returns number of instantaneously active EVSEs per capacity group","operationId":"SmartCharging_GetActiveEVSEs","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityManagementDefaultEvsesState"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDefaultEvsesState"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDefaultEvsesState"}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacitymanagementdefault/offlineevses":{"get":{"tags":["Smart Charging Reporting"],"summary":"Get offline EVSEs","description":"Returns the number of offline EVSEs per capacity group","operationId":"SmartCharging_GetOfflineEVSEs","parameters":[{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityManagementDefaultEvsesState"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDefaultEvsesState"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDefaultEvsesState"}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacitymanagementdc/allocationgraph":{"get":{"tags":["Reporting"],"summary":"Returns capacity group allocation values for graph","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"date_from","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"date_to","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupAllocationResponseDceda"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupAllocationResponseDceda"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupAllocationResponseDceda"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacitymanagementdc/activeevses":{"get":{"tags":["Reporting"],"summary":"Returns number of instantaneously active EVSEs per capacity group","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityManagementDcEvsesState"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDcEvsesState"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDcEvsesState"}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/capacitymanagementdc/offlineevses":{"get":{"tags":["Reporting"],"summary":"Returns the number of offline EVSEs per capacity group","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CapacityManagementDcEvsesState"}},"application/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDcEvsesState"}},"text/json":{"schema":{"$ref":"#/components/schemas/CapacityManagementDcEvsesState"}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/timezones":{"get":{"tags":["Smart Charging Reporting"],"summary":"Get timezones","description":"Returns list of timezone infos valid for DayOfWeek scenarios","operationId":"SmartCharging_GetTimeZones","parameters":[{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupTimeZoneInfoResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupTimeZoneInfoResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapacityGroupTimeZoneInfoResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/reports/priority":{"get":{"tags":["Smart Charging Reporting"],"summary":"Get priority requests","description":"Returns priority requests","operationId":"SmartCharging_GetPriorityRequests","parameters":[{"name":"date_from","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"date_to","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"capacity_group_id","in":"query","schema":{"type":"string"}},{"name":"evse_uid","in":"query","schema":{"type":"string"}},{"name":"cpo_external_ids","in":"query","description":"CPO external identifiers which should contains each capacity group","schema":{"type":"array","items":{"type":"string"}}},{"name":"order_by_timestamp","in":"query","schema":{"$ref":"#/components/schemas/Order"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"versionNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EvsePriorityChangedResponse"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EvsePriorityChangedResponse"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EvsePriorityChangedResponse"}}}}}}}},"/api/{versionNumber}/smartcharging/capacitygroups/{capacity_group_id}/evses/{evse_uid}/priority":{"post":{"tags":["Priority"],"summary":"Send Priority request for an EVSE in a capacity group.","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"capacity_group_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"evse_uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/{versionNumber}/coupons/{emspId}/{couponId}":{"get":{"tags":["Coupons"],"summary":"Get Coupon by Coupon ID","description":"Returns the coupon with Coupon ID for the given eMSP ID","operationId":"Coupons_GetCoupon","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"couponId","in":"path","description":"Coupon ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponResponse"},"example":{"timestamp":"2023-10-20T12:28:50.0000000+00:00","data":{"couponId":"ID-0001","type":"money","sessions":0,"money":29.99,"discountRate":0,"meterValueDuration":"2024-07-22","meterValueTolerance":"","couponScope":{"emsp":"","driverId":"TST-Name-drv","cpsos":["CPO-privchargers"]},"expirationDate":"","active":true,"createdOn":"2023-10-20T12:28:02.4930000+02:00","createdBy":"CouponService","modifiedOn":"2023-10-20T12:28:02.4930000+02:00","modifiedBy":"CouponService","reason":""},"status_code":1000,"status_message":"Successful"}}}}}},"patch":{"tags":["Coupons"],"summary":"PATCH a coupon","description":"Returns updated coupon.","operationId":"Coupons_PatchCoupon","parameters":[{"name":"versionNumber","in":"path","description":"Platform version number, 1.0","required":true,"schema":{"type":"string","default":"1.0"}},{"name":"emspId","in":"path","description":"eMSP ID","required":true,"schema":{"type":"string"}},{"name":"couponId",
[...]
