{"openapi":"3.0.1","info":{"title":"RemoteCommandsAPi","version":"1.0"},"servers":[{"url":"https://platform-a.greenflux.com","description":"Acceptance server (uses test data)"},{"url":"https://platform.greenflux.com","description":"Production server (uses real data)"}],"paths":{"/api/1.0/remotecommands/START_SESSION":{"post":{"tags":["RemoteCommands"],"summary":"Start Session","description":"Start a charging session using the Auth_id or Chip_id. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_StartSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiStartSession"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/STOP_SESSION":{"post":{"tags":["RemoteCommands"],"summary":"Stop Session","description":"Stop a charging session using the session ID. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_StopSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiStopSession"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/UNLOCK_CONNECTOR":{"post":{"tags":["RemoteCommands"],"summary":"Unlock Connector","description":"Unlock a Connector. The UNLOCK_CONNECTOR is intended to be used in the rare situation that the connector is not unlocked successfully after a transaction is stopped. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_UnlockConnector","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiUnlockConnector"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/RESERVE_NOW":{"post":{"tags":["RemoteCommands"],"summary":"Reserve Now","description":"Reserve an EVSE. Exact functionality may depend on Charge station model, in principle the CS should be reserved for the supplied token from the moment this command is sent until the expiry date. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_ReserveNow","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiReserveNow"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/CANCEL_RESERVATION":{"post":{"tags":["RemoteCommands"],"summary":"Cancel Reservation","description":"Cancel an existing Reservation using the provided Reservation ID. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_CancelReservation","parameters":[{"name":"cpsoIds","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCancelReservation"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/RESET":{"post":{"tags":["RemoteCommands"],"summary":"Reset","description":"Hard Reset of Charge Station. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_ResetNow","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiReset"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/{evse_uid}/{charge_station_notification_id}":{"get":{"tags":["RemoteCommands"],"summary":"Get Command Notification","description":"To get the detailed response from the Charge Station of a sent Command. We only support the following commands: (RemoteStartTransaction, RemoteStopTransaction, UnlockConnector, ReserveNow, CancelReservation, Reset, GetConfiguration, ChangeConfiguration)","operationId":"RemoteCommands_GetCommandNotification","parameters":[{"name":"evse_uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge_station_notification_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResult"},"examples":{"Reserve Now success":{"$ref":"#/components/examples/ReservationNowsuccess"},"Reservation Cancel success":{"$ref":"#/components/examples/ReservationCancelNotificationSuccess"},"Start session success":{"$ref":"#/components/examples/StartSessionSuccess"}}}}}}}},"/api/1.0/remotecommands/GET_CONFIGURATION":{"post":{"tags":["RemoteCommands"],"summary":"Get Configuration","description":"Get Configurartion of Charge Station. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiGetConfiguration"}}}},"responses":{"200":{"description":"Success"}}}},"/api/1.0/remotecommands/CHANGE_CONFIGURATION":{"post":{"tags":["RemoteCommands"],"summary":"Change Configuration","description":"Change Configuration of Charge Station. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiChangeConfiguration"}}}},"responses":{"200":{"description":"Success"}}}},"/api/1.0/remotecommands/INSTALL_CERTIFICATE":{"post":{"tags":["RemoteCommands"],"summary":"Install Certificate","description":"Install a certificate on a Charge Station. If the validation is successful the endpoint returns ACCEPTED status as the result. This does not mean that the command was already successfully sent to the charge station yet because of the asynchronous nature of how the OCPP communication works over Websockets. The message id of the OCPP message sent to the charge station will also be returned. This message Id can be used to query the state of the response from the charge station by using the real time status notification API.","operationId":"RemoteCommands_InstallCertificate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiInstallCertificate"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}},"/api/1.0/remotecommands/SET_NETWORK_PROFILE":{"post":{"tags":["RemoteCommands"],"summary":"Set Network Profile","description":"### Configure the Network Profile of a Charge Station\n\nUse this command to define the **network connectivity settings** for a charge station. It supports configuring key parameters such as:\n- **OCPP version**\n- **Transport protocol**\n- **CSMS endpoint URL**\n- **VPN and APN details**\n- Other connection-related options\n\nThe configuration is delivered **asynchronously** to the charge station.  \nA successful response means the request was **accepted for processing**, but does **not** confirm that the changes have been applied yet.\n\n---\n\n**Warning**\n> Changing the OCPP version via the `SetNetworkProfile` command may result in **loss of communication** between the CSMS and the charge station.  \n> Upgrades and downgrades are technically supported, but:\n> - If you **upgrade** beyond **OCPP 2.0.1**, the charge station will no longer be accessible through the API.\n> - If you **downgrade**, you will no longer be able to modify the network profile afterward through the API afterwards.\n>  \n> **Only OCPP 2.0.1 is officially supported.**  \n> It is strongly recommended to keep the version at **2.0.1** unless explicitly instructed by system integrators or support teams.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiSetNetworkProfile"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpiCommandResponse"},"examples":{"Success":{"$ref":"#/components/examples/ResponseBasic"}}}}}}}}},"components":{"schemas":{"GcpiCancelReservation":{"type":"object","properties":{"reservation_id":{"type":"string","description":"reservation id to identify a reservation and later cancel the reservation.","nullable":true}},"additionalProperties":false},"GcpiChangeConfiguration":{"required":["charge_station_id","key","value"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"ChargeStationId","example":"SampleChargeStationID"},"key":{"type":"string","description":"Configuration key"},"value":{"type":"string","description":"Configurartion value"}},"additionalProperties":false},"GcpiCommandResponse":{"type":"object","properties":{"result":{"$ref":"#/components/schemas/GcpiCommandResponseType"},"charge_station_notification_id":{"type":"string","description":"ID to check on the response of the Charge Station","nullable":true}},"additionalProperties":false},"GcpiCommandResponseType":{"enum":["NOT_SUPPORTED","REJECTED","ACCEPTED","TIMEOUT","UNKNOWN_SESSION"],"type":"string"},"GcpiCommandResult":{"type":"object","properties":{"result":{"$ref":"#/components/schemas/GcpiCommandResultType"},"message":{"type":"string","nullable":true},"request":{},"charge_station_notification_id":{"type":"string","nullable":true}},"additionalProperties":false},"GcpiCommandResultType":{"enum":["ACCEPTED","CANCELED_RESERVATION","EVSE_OCCUPIED","EVSE_INOPERATIVE","FAILED","NOT_SUPPORTED","REJECTED","TIMEOUT","UNKNOWN_RESERVATION","PENDING"],"type":"string"},"GcpiGetConfiguration":{"required":["charge_station_id","keys"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"ChargeStationId","example":"SampleChargeStationID"},"keys":{"type":"array","items":{"type":"string"},"description":"Configuration keys"}},"additionalProperties":false},"GcpiInstallCertificate":{"required":["charge_station_id","evse_uid","type"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"The identification of the charge station"},"certificateType":{"$ref":"#/components/schemas/GcpiInstallCertificateEnumType"},"certificate":{"type":"string","description":"The certificate to install"}},"additionalProperties":false},"GcpiInstallCertificateEnumType":{"enum":["V2GRootCertificate","MORootCertificate","CSMSRootCertificate","ManufacturerRootCertificate"],"type":"string","description":"The type of the installed certificate."},"GcpiReserveNow":{"required":["token","expiry_date","reservation_id","location_id","evse_uid"],"type":"object","properties":{"token":{"$ref":"#/components/schemas/GcpiToken"},"expiry_date":{"type":"string","format":"date-time"},"reservation_id":{"type":"string","nullable":true,"example":"ReservationId1"},"location_id":{"type":"string","nullable":true,"example":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4"},"evse_uid":{"type":"string","nullable":true,"example":"NL-GFX-ESampleChargeStationID-1"}},"additionalProperties":false},"GcpiReset":{"required":["charge_station_id","evse_uid","type"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"Either charge_station_id or evse_ui is required.","nullable":true},"evse_uid":{"type":"string","description":"Either charge_station_id or evse_ui is required.","nullable":true},"type":{"$ref":"#/components/schemas/GcpiResetType"},"scheduled":{"$ref":"#/components/schemas/GcpiResetEnumType"}},"additionalProperties":false},"GcpiResetEnumType":{"enum":["Immediate","OnIdle"],"type":"string","description":"Immediate will reset the Charge Station Now. OnIdle once the Charge Station does not have any active sessions."},"GcpiResetType":{"enum":["Hard","Soft"],"type":"string","description":"The type of Reset. Both supported for OCPP 1.6"},"GcpiSetNetworkProfile":{"required":["charge_station_id","configuration_slot","connection_data"],"type":"object","properties":{"charge_station_id":{"type":"string","description":"Sets the unique identifier of the Charge Station.","example":"CS-12345"},"configuration_slot":{"type":"integer","description":"Sets the configuration slot index for storing the network profile.","example":1},"connection_data":{"$ref":"#/components/schemas/GcpiNetworkConnectionProfile"}},"additionalProperties":false},"GcpiNetworkConnectionProfile":{"required":["ocpp_version","ocpp_transport","ocpp_csms_url","message_timeout","security_profile","ocpp_interface"],"type":"object","properties":{"ocpp_version":{"enum":["OCPP20"],"type":"string","description":"Sets the version of the OCPP protocol to use.","example":"OCPP20"},"ocpp_transport":{"enum":["JSON","SOAP"],"type":"string","description":"Sets the transport protocol for OCPP communication.","example":"JSON"},"ocpp_csms_url":{"type":"string","description":"Sets the URL of the CSMS for OCPP communication.","example":"wss://ocpp-public.greenflux.com (GreenFlux Public SocketServer)[https://ocpp-public.greenflux.com/]"},"message_timeout":{"type":"integer","description":"Sets the maximum time to wait for a response to a message.","example":30},"security_profile":{"type":"integer","description":"Sets the security profile to use.","example":1},"ocpp_interface":{"enum":["Wired0","Wired1","Wired2","Wired3","Wireless0","Wireless1","Wireless2","Wireless3"],"type":"string","description":"Sets the physical network interface to use.","example":"Wireless0"},"vpn":{"$ref":"#/components/schemas/GcpiVpnType"},"apn":{"$ref":"#/components/schemas/GcpiApnType"}}},"GcpiVpnType":{"type":"object","properties":{"server":{"type":"string","description":"Sets the hostname or IP address of the VPN server.","example":"vpn.example.com"},"user":{"type":"string","description":"Sets the username for VPN authentication.","example":"vpnuser"},"group":{"type":"string","description":"Sets the VPN group.","example":"vpn-group"},"password":{"type":"string","description":"Sets the password for VPN authentication.","example":"securepassword"},"key":{"type":"string","description":"Sets the pre-shared key or certificate key.","example":"vpnkey123"},"type":{"type":"string","description":"Sets the VPN protocol type to use.","example":"IPSec"}},"additionalProperties":false},"GcpiApnType":{"type":"object","properties":{"apn":{"type":"string","description":"Sets the Access Point Name for cellular connection.","example":"internet"},"apn_user_name":{"type":"string","description":"Sets the username for APN authentication.","example":"apnuser"},"apn_password":{"type":"string","description":"Sets the password for APN authentication.","example":"apnpass"},"sim_pin":{"type":"integer","description":"Sets the PIN code for the SIM card.","example":1234},"preferred_network":{"type":"string","description":"Sets the preferred mobile network technology.","example":"LTE"},"use_only_preferred_network":{"type":"boolean","description":"Restricts connections to the preferred network only.","example":true},"apn_authentication":{"enum":["CHAP","NONE","PAP","AUTO"],"type":"string","description":"Sets the authentication method for the APN connection.","example":"AUTO"}},"additionalProperties":false},"GcpiStartSession":{"required":["uid","auth_id","chargestation_id","evse_uid","location_id"],"type":"object","properties":{"token":{"$ref":"#/components/schemas/GcpiToken"},"location_id":{"type":"string","nullable":true,"example":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4"},"evse_uid":{"type":"string","nullable":true,"example":"NL-GFX-ESampleChargeStationID-1"},"connector_id":{"type":"string","nullable":true,"example":"1"},"chargestation_id":{"type":"string","nullable":true,"example":"SampleChargeStationID"}},"additionalProperties":false},"GcpiStopSession":{"type":"object","properties":{"session_id":{"type":"string","description":"The session ID of the session that should be stopped. Should start with NLGFX....","nullable":true,"example":"NLGFX638016010467655638-404a4"}},"additionalProperties":false},"GcpiToken":{"required":["valid","uid","auth_id"],"type":"object","properties":{"uid":{"type":"string","description":"Unique ID by which this Token, also known as ChipID. Uid or Auth_id required for Start and Reservations.","nullable":true,"example":"TokenUid"},"type":{"$ref":"#/components/schemas/GcpiTokenType"},"auth_id":{"type":"string","description":"Auth ID of the card. Uid or Auth_id required for Start and Reservations.","nullable":true,"example":"NL-GFX-CTokenAuthId"},"visual_number":{"type":"string","description":"Visual readable number/identification as printed on the Token (RFID card)","nullable":true},"issuer":{"type":"string","description":"Issuing company, most of the times the name of the company printed on the token (RFID card)","nullable":true},"valid":{"type":"boolean","description":"Is this Token valid"},"whitelist":{"$ref":"#/components/schemas/GcpiWhitelistType"},"language":{"type":"string","nullable":true},"last_updated":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"GcpiTokenType":{"enum":["OTHER","RFID"],"type":"string"},"GcpiUnlockConnector":{"required":["location_id","evse_uid","connector_id"],"type":"object","properties":{"location_id":{"type":"string","nullable":true,"example":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4"},"evse_uid":{"type":"string","nullable":true,"example":"NL-GFX-ESampleChargeStationID-1"},"connector_id":{"type":"string","nullable":true,"example":"1"}},"additionalProperties":false},"GcpiWhitelistType":{"enum":["ALWAYS","ALLOWED","ALLOWED_OFFLINE","NEVER"],"type":"string"}},"examples":{"ReservationCancelNotificationSuccess":{"value":{"timestamp":"2022-10-17T10:44:53Z","date":{"result":"CANCELED_RESERVATION","request":{"reservation_id":"ReservationId1"},"charge_station_notification_id":"638016026544656346-bd063"},"status_code":"1000","status_message":"Success"}},"ReservationNowsuccess":{"value":{"timestamp":"2022-10-17T11:36:23Z","data":{"result":"ACCEPTED","request":{"token":{"uid":"TokenUid","type":"OTHER","valid":"true","whitelist":"ALWAYS"},"expiry_date":"2022-10-19T10:34:21Z","reservation_id":"ReservationId1","location_id":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4"},"charge_station_notification_id":"638016033768015393-a46ef"},"status_code":"1000","status_message":"Success"}},"ResponseBasic":{"value":{"timestamp":"2022-10-17T10:44:53Z","data":{"result":"ACCEPTED","charge_station_notification_id":"638016002959793938-432c1"},"status_code":"1000","status_message":"Success"}},"SetNetworkProfileSuccess":{"value":{"timestamp":"2025-09-16T12:00:00Z","data":{"result":"ACCEPTED","request":{"charge_station_id":"SampleChargeStationID","configuration_slot":"1","connection_data":{"ocpp_version":"OCPP20","ocpp_transport":"JSON","ocpp_csms_url":"https://csms.example.com","message_timeout":"30","security_profile":"1","ocpp_interface":"Wireless0"}},"status_code":"1000","status_message":"Success"}}},"StartSessionSuccess":{"value":{"timestamp":"2022-10-17T11:40:28Z","data":{"result":"ACCEPTED","request":{"token":{"uid":"TokenUid","type":"OTHER","auth_id":"NL-GFX-CSomeAuthId","valid":"true","whitelist":"ALWAYS"},"location_id":"bbc1d4c5-400c-417e-904d-cbe0bc8bd3a4","connector_id":"1","chargestation_id":"ExampleChargeStationId"},"charge_station_notification_id":"638016036211349162-48de1"},"status_code":"1000","status_message":"Success"}}},"securitySchemes":{"ApiKey":{"type":"apiKey","description":"Token to be passed in for authentication, example: 'Token <b>yourTokenHere</b>'","name":"Authorization","in":"header"}}},"security":[{"ApiKey":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true}}